* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button,
a {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
}

* {
  -webkit-transition: background-color 0.2s, color 0.2s, stroke 0.2s, stroke-width 0.2s, fill 0.2s, border 0.2s, opacity 0.2s, visibility 0.2s, -webkit-box-shadow 0.2s;
  transition: background-color 0.2s, color 0.2s, stroke 0.2s, stroke-width 0.2s, fill 0.2s, border 0.2s, opacity 0.2s, visibility 0.2s, -webkit-box-shadow 0.2s;
  -o-transition: background-color 0.2s, color 0.2s, stroke 0.2s, stroke-width 0.2s, fill 0.2s, border 0.2s, box-shadow 0.2s, opacity 0.2s, visibility 0.2s;
  transition: background-color 0.2s, color 0.2s, stroke 0.2s, stroke-width 0.2s, fill 0.2s, border 0.2s, box-shadow 0.2s, opacity 0.2s, visibility 0.2s;
  transition: background-color 0.2s, color 0.2s, stroke 0.2s, stroke-width 0.2s, fill 0.2s, border 0.2s, box-shadow 0.2s, opacity 0.2s, visibility 0.2s, -webkit-box-shadow 0.2s;
}

:root {
  --dark-text-color: rgba(255, 255, 255, 0.87);
  --dark-subsection-bg: rgb(37, 37, 37);
  --dark-main-bg: rgb(26, 26, 26);
  --dark-button-text-color: #fff;
  --dark-button-bg: #326273;
  --dark-button-bg-active: #5c9ead;
  --dark-items-border-bottom: rgba(255, 255, 255, 0.3);
  --dark-input-bg: rgba(255, 255, 255, 0.1);
  --dark-highlight: #497e8a;
  --dark-loading-element: rgba(255, 255, 255, 0.1);
  --light-text-color: #000;
  --light-subsection-bg: #ffffff;
  --light-main-bg: #eeeeee;
  --light-button-text-color: #fff;
  --light-button-bg: #326273;
  --light-button-bg-active: #5c9ead;
  --light-items-border-bottom: rgba(0, 0, 0, 0.3);
  --light-input-bg: rgba(0, 0, 0, 0.1);
  --light-highlight: #497e8a;
  --light-loading-element: rgba(0, 0, 0, 0.1);
  --link-color: yellowgreen;
  --app-height: 100vh;
}

html[theme=dark] ::-webkit-scrollbar-track {
  background: rgba(155, 155, 155, 0.3);
}
html[theme=dark] ::-webkit-scrollbar-thumb {
  background: rgba(155, 155, 155, 0.5);
}
html[theme=dark] ::-webkit-scrollbar-thumb:hover {
  background: rgb(155, 155, 155);
}
html[theme=dark] body {
  background-color: var(--dark-subsection-bg);
}
@media (min-width: 767px) {
  html[theme=dark] body {
    background-color: var(--dark-main-bg);
  }
}
html[theme=dark] * {
  color: var(--dark-text-color);
}
html[theme=dark] .app_loading_balls g:nth-child(odd) circle {
  fill: var(--dark-text-color);
}
html[theme=dark] .app_loading_balls g:nth-child(even) circle {
  fill: var(--dark-button-bg);
}
html[theme=dark] .subsection {
  background-color: var(--dark-subsection-bg);
}
html[theme=dark] .subsection:not(:empty):not(:first-child), html[theme=dark] .subsection:not(:empty).nf {
  border-top: 1px solid var(--dark-button-bg);
}
@media (min-width: 767px) {
  html[theme=dark] .subsection:not(:empty) {
    border: 1px solid var(--dark-button-bg);
  }
}
html[theme=dark] .modal {
  background-color: var(--dark-subsection-bg);
  border: 1px solid var(--dark-button-bg);
}
html[theme=dark] .loading_element {
  background-color: var(--dark-loading-element);
}
html[theme=dark] option {
  color: var(--dark-text-color);
  background-color: var(--dark-subsection-bg);
}
html[theme=dark] .loadingCircle circle {
  stroke: var(--dark-button-text-color);
}
html[theme=dark] .closeX path {
  stroke: var(--dark-text-color);
}
html[theme=dark] .likeHeart path {
  stroke: var(--dark-button-text-color);
}
html[theme=dark] .likeHeart.likedMe {
  fill: var(--dark-button-text-color);
}
html[theme=dark] .checkMark {
  fill: var(--dark-text-color);
}
html[theme=dark] .form__input {
  background-color: var(--dark-input-bg);
}
html[theme=dark] .form__button {
  color: var(--dark-button-text-color);
  background-color: var(--dark-button-bg);
}
html[theme=dark] .form__button:not(:disabled):hover {
  background-color: var(--dark-button-bg-active);
}

html[theme=light] ::-webkit-scrollbar-track {
  background: rgba(85, 85, 85, 0.3);
}
html[theme=light] ::-webkit-scrollbar-thumb {
  background: rgba(85, 85, 85, 0.5);
}
html[theme=light] ::-webkit-scrollbar-thumb:hover {
  background: rgb(85, 85, 85);
}
html[theme=light] body {
  background-color: var(--light-subsection-bg);
}
@media (min-width: 767px) {
  html[theme=light] body {
    background-color: var(--light-main-bg);
  }
}
html[theme=light] * {
  color: var(--light-text-color);
}
html[theme=light] .app_loading_balls g:nth-child(odd) circle {
  fill: var(--light-text-color);
}
html[theme=light] .app_loading_balls g:nth-child(even) circle {
  fill: var(--light-button-bg);
}
html[theme=light] .subsection {
  background-color: var(--light-subsection-bg);
}
html[theme=light] .subsection:not(:empty):not(:first-child), html[theme=light] .subsection:not(:empty).nf {
  border-top: 1px solid var(--light-button-bg);
}
@media (min-width: 767px) {
  html[theme=light] .subsection:not(:empty) {
    border: 1px solid var(--light-button-bg);
  }
}
html[theme=light] .modal {
  background-color: var(--light-subsection-bg);
  border: 1px solid var(--light-button-bg);
}
html[theme=light] .loading_element {
  background-color: var(--light-loading-element);
}
html[theme=light] option {
  color: var(--light-text-color);
  background-color: var(--light-subsection-bg);
}
html[theme=light] .loadingCircle circle {
  stroke: var(--light-button-text-color);
}
html[theme=light] .closeX path {
  stroke: var(--light-text-color);
}
html[theme=light] .likeHeart path {
  stroke: var(--light-button-text-color);
}
html[theme=light] .likeHeart.likedMe {
  fill: var(--light-button-text-color);
}
html[theme=light] .checkMark {
  fill: var(--light-text-color);
}
html[theme=light] .form__input {
  background-color: var(--light-input-bg);
}
html[theme=light] .form__button {
  color: var(--light-button-text-color);
  background-color: var(--light-button-bg);
}
html[theme=light] .form__button:not(:disabled):hover {
  background-color: var(--light-button-bg-active);
}

html {
  min-height: calc(100% + env(safe-area-inset-top));
  padding: env(safe-area-inset-top) 0 env(safe-area-inset-bottom) 0;
}

body {
  -webkit-transition: background-color 0s;
  -o-transition: background-color 0s;
  transition: background-color 0s;
  overflow-x: hidden;
  overflow-y: overlay;
}
body.lock {
  overflow: hidden;
}

.wrapper {
  position: relative;
  font-family: -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Inter", "Helvetica Neue", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: var(--app-height);
}

.content {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 45px 0px 0px 0px;
  padding: 0px env(safe-area-inset-right) 10px env(safe-area-inset-left);
}
@media (min-width: 767px) {
  .content {
    margin: 50px 0px 0px 0px;
    padding: 15px calc(15px + env(safe-area-inset-right)) 15px calc(15px + env(safe-area-inset-left));
    display: grid;
    grid-template-columns: 1fr 200px minmax(537px, 700px) minmax(0px, 200px) 1fr;
  }
  .content aside {
    grid-column: 2/3;
  }
  .content section {
    grid-column: 3/4;
  }
}

.subsection:not(:empty) {
  -webkit-transition: background-color 0s;
  -o-transition: background-color 0s;
  transition: background-color 0s;
  position: relative;
  padding: 10px 0px;
  margin: 0 10px;
}
@media (min-width: 767px) {
  .subsection:not(:empty) {
    margin: 0;
    border-radius: 8px;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 15px;
  }
  .subsection:not(:empty):not(:first-child), .subsection:not(:empty).nf {
    margin: 15px 0px 0px 0px;
  }
}

.title {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
}
.title:not(:last-child) {
  padding: 0px 0px 15px 0px;
}
@media (min-width: 767px) {
  .title {
    font-size: 22px;
  }
}

.modal {
  overflow-x: hidden;
  overflow-y: overlay;
  position: fixed;
  width: 260px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100;
  padding: 15px 10px;
  border-radius: 8px;
  max-height: calc(100vh - 30px);
  -webkit-animation: showModal 0.2s;
          animation: showModal 0.2s;
}
.modal__bg {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-animation: showModal 0.2s;
          animation: showModal 0.2s;
}
@media (min-width: 767px) {
  .modal {
    width: 280px;
    padding: 15px;
  }
}

.loading_element {
  border-radius: 4px;
}

.countOfUnreadMessages {
  border-radius: 20px;
  font-size: 14px;
  font-weight: 700;
  background-color: red;
  color: #fff;
  padding: 0 5px;
  line-height: 20px;
  height: 20px;
  min-width: 20px;
}

.app_loading {
  position: fixed;
  left: 50vw;
  top: 50vh;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: app_loading_delay 4s;
          animation: app_loading_delay 4s;
}

.form__label {
  line-height: 150%;
  opacity: 0.8;
  cursor: pointer;
  display: block;
  font-size: 18px;
  padding: 0px 0px 5px 0px;
}
.form__field {
  padding: 0px 0px 5px 0px;
  margin: 0px 0px 25px 0px;
  position: relative;
}
.form__input {
  padding: 5px 10px;
  border-radius: 4px;
  width: 100%;
  line-height: 150%;
  font-size: 18px;
  background-color: transparent;
  max-width: 250px;
  cursor: pointer;
}
.form__incorrect {
  font-size: 14px;
  color: rgba(255, 0, 0, 0.87) !important;
  position: absolute;
  bottom: -14px;
}
.form__button {
  display: block;
  width: 100%;
  font-size: 20px;
  line-height: 150%;
  background-color: transparent;
  padding: 10px 50px;
  margin: 30px 0px 0px 0px;
  border-radius: 4px;
  opacity: 0.7;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.form__button:not(:disabled) {
  opacity: 1;
}
.form__button:not(:disabled):hover {
  -webkit-transform: translate(-1px, -1px);
      -ms-transform: translate(-1px, -1px);
          transform: translate(-1px, -1px);
}
.form__button:not(:disabled):active {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}
.form__button svg {
  width: 62px;
  height: 23px;
  margin: 0px 0px -5px 0px;
}
.form__error {
  word-wrap: break-word;
  text-align: center;
  color: rgba(255, 0, 0, 0.87) !important;
  text-transform: capitalize;
}
@media (min-width: 767px) {
  .form__input {
    font-size: 20px;
  }
}

@-webkit-keyframes app_loading_delay {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes app_loading_delay {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes showModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes showModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}