@import "./null.scss";

* {
	transition: background-color 0.2s, color 0.2s, stroke 0.2s, stroke-width 0.2s,
		fill 0.2s, border 0.2s, box-shadow 0.2s, opacity 0.2s, visibility 0.2s;
}

:root {
	--dark-text-color: rgba(255, 255, 255, 0.87);
	--dark-subsection-bg: rgb(37, 37, 37);
	--dark-main-bg: rgb(26, 26, 26);
	--dark-button-text-color: #fff;
	--dark-button-bg: #326273;
	--dark-button-bg-active: #5c9ead;
	--dark-items-border-bottom: rgba(255, 255, 255, 0.3);
	--dark-input-bg: rgba(255, 255, 255, 0.1);
	--dark-highlight: #497e8a;
	--dark-loading-element: #3b3b3b;

	--light-text-color: #000;
	--light-subsection-bg: #ffffff;
	--light-main-bg: #eeeeee;
	--light-button-text-color: #fff;
	--light-button-bg: #326273;
	--light-button-bg-active: #5c9ead;
	--light-items-border-bottom: rgba(0, 0, 0, 0.3);
	--light-input-bg: rgba(0, 0, 0, 0.1);
	--light-highlight: #497e8a;
	--light-loading-element: #e5e5e5;

	--link-color: yellowgreen;

	--app-height: 100vh;
}

html[theme="dark"] {
	::-webkit-scrollbar-track {
		background: rgba(155, 155, 155, 0.3);
	}
	::-webkit-scrollbar-thumb {
		background: rgba(155, 155, 155, 0.5);
		&:hover {
			background: rgb(155, 155, 155);
		}
	}
	body {
		background-color: var(--dark-subsection-bg);
		@media (min-width: 767px) {
			background-color: var(--dark-main-bg);
		}
	}
	* {
		color: var(--dark-text-color);
	}
	.app_loading {
		&_balls {
			g:nth-child(odd) {
				circle {
					fill: var(--dark-text-color);
				}
			}
			g:nth-child(even) {
				circle {
					fill: var(--dark-button-bg);
				}
			}
		}
	}
	.subsection {
		background-color: var(--dark-subsection-bg);
		&:not(:empty) {
			&:not(:first-child),
			&.nf {
				border-top: 1px solid var(--dark-button-bg);
			}
			@media (min-width: 767px) {
				border: 1px solid var(--dark-button-bg);
			}
		}
	}
	.modal {
		background-color: var(--dark-subsection-bg);
		border: 1px solid var(--dark-button-bg);
		&__header {
			border-bottom: 1px solid var(--dark-items-border-bottom);
		}
	}
	.loading_element {
		background-color: var(--dark-loading-element);
	}
	option {
		color: var(--dark-text-color);
		background-color: var(--dark-subsection-bg);
	}
	.loadingCircle {
		circle {
			stroke: var(--dark-button-text-color);
		}
	}
	.closeX {
		path {
			stroke: var(--dark-text-color);
		}
	}
	.likeHeart {
		path {
			stroke: var(--dark-button-text-color);
		}
		&.likedMe {
			fill: var(--dark-button-text-color);
		}
	}
	.checkMark {
		fill: var(--dark-text-color);
	}
	.form {
		&__input {
			background-color: var(--dark-input-bg);
		}
		&__button {
			color: var(--dark-button-text-color);
			background-color: var(--dark-button-bg);
			&:not(:disabled):hover {
				background-color: var(--dark-button-bg-active);
			}
		}
	}
	.imageIcon {
		path {
			fill: var(--dark-text-color);
		}
	}
	.userOnline {
		&:not(.empty) {
			border: 2px solid var(--dark-subsection-bg);
		}
	}
	.editPen {
		path {
			stroke: #fff;
		}
	}
}

html[theme="light"] {
	::-webkit-scrollbar-track {
		background: rgba(85, 85, 85, 0.3);
	}
	::-webkit-scrollbar-thumb {
		background: rgba(85, 85, 85, 0.5);
		&:hover {
			background: rgb(85, 85, 85);
		}
	}
	body {
		background-color: var(--light-subsection-bg);
		@media (min-width: 767px) {
			background-color: var(--light-main-bg);
		}
	}
	* {
		color: var(--light-text-color);
	}
	.app_loading {
		&_balls {
			g:nth-child(odd) {
				circle {
					fill: var(--light-text-color);
				}
			}
			g:nth-child(even) {
				circle {
					fill: var(--light-button-bg);
				}
			}
		}
	}
	.subsection {
		background-color: var(--light-subsection-bg);
		&:not(:empty) {
			&:not(:first-child),
			&.nf {
				border-top: 1px solid var(--light-button-bg);
			}
			@media (min-width: 767px) {
				border: 1px solid var(--light-button-bg);
			}
		}
	}
	.modal {
		background-color: var(--light-subsection-bg);
		border: 1px solid var(--light-button-bg);
		&__header {
			border-bottom: 1px solid var(--light-items-border-bottom);
		}
	}
	.loading_element {
		background-color: var(--light-loading-element);
	}
	option {
		color: var(--light-text-color);
		background-color: var(--light-subsection-bg);
	}
	.loadingCircle {
		circle {
			stroke: var(--light-button-text-color);
		}
	}
	.closeX {
		path {
			stroke: var(--light-text-color);
		}
	}
	.likeHeart {
		path {
			stroke: var(--light-button-text-color);
		}
		&.likedMe {
			fill: var(--light-button-text-color);
		}
	}
	.checkMark {
		fill: var(--light-text-color);
	}
	.form {
		&__input {
			background-color: var(--light-input-bg);
		}
		&__button {
			color: var(--light-button-text-color);
			background-color: var(--light-button-bg);
			&:not(:disabled):hover {
				background-color: var(--light-button-bg-active);
			}
		}
	}
	.imageIcon {
		path {
			fill: var(--light-text-color);
		}
	}
	.userOnline {
		&:not(.empty) {
			border: 2px solid var(--light-subsection-bg);
		}
	}
	.editPen {
		path {
			stroke: #fff;
		}
	}
}

html {
	min-height: calc(100% + env(safe-area-inset-top));
	padding: env(safe-area-inset-top) 0 env(safe-area-inset-bottom) 0;
}

body {
	transition: background-color 0s;
	overflow-x: hidden;
	overflow-y: overlay;
	&.lock {
		overflow: hidden;
	}
}

.wrapper {
	position: relative;
	font-family: -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Inter", "Helvetica Neue",
		sans-serif;
	display: flex;
	flex-direction: column;
	min-height: var(--app-height);
}

.content {
	position: relative;
	flex: 1 1 auto;
	margin: 45px 0px 0px 0px;
	padding: 0px env(safe-area-inset-right) 10px env(safe-area-inset-left);
	@media (min-width: 767px) {
		margin: 50px 0px 0px 0px;
		padding: 15px calc(15px + env(safe-area-inset-right)) 15px
			calc(15px + env(safe-area-inset-left));
		display: grid;
		grid-template-columns: 1fr 200px minmax(537px, 700px) minmax(0px, 200px) 1fr;
		aside {
			grid-column: 2/3;
		}
		section {
			grid-column: 3/4;
		}
	}
}

.subsection:not(:empty) {
	transition: background-color 0s;
	position: relative;
	padding: 10px 0px;
	margin: 0 10px;
	@media (min-width: 767px) {
		margin: 0;
		&:not(:first-child),
		&.nf {
			margin: 15px 0px 0px 0px;
		}
		border-radius: 8px;
		box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
		padding: 15px;
	}
}

.modal {
	&__bg {
		position: fixed;
		z-index: 100;
		left: 0;
		top: 0;
		width: 100vw;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.7);
		animation: showModal 0.2s;
	}
	overflow-x: hidden;
	overflow-y: overlay;
	position: fixed;
	width: 260px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
	padding: 15px 10px;
	border-radius: 8px;
	max-height: calc(100vh - 30px);
	animation: showModal 0.2s;
	&__header {
		display: flex;
		justify-content: space-between;
		padding: 0px 0px 5px 0px;
		margin: 0px 0px 14px 0px;
		&_title {
			font-size: 18px;
			font-weight: 700;
			line-height: 150%;
		}
		&_close {
			width: 27px;
			height: 27px;
			background-color: transparent;
			opacity: 0.7;
			&:hover,
			&:focus {
				opacity: 1;
			}
		}
	}
	@media (min-width: 767px) {
		width: 280px;
		padding: 15px;
		&__header {
			padding: 0px 0px 10px 0px;
		}
	}
}

.loading_element {
	border-radius: 4px;
}

.countOfUnreadMessages {
	border-radius: 20px;
	font-size: 16px;
	background-color: red;
	color: #fff;
	padding: 0 5px;
	line-height: 20px;
	height: 20px;
	min-width: 20px;
}

.userOnline {
	&:not(.empty) {
		position: absolute;
		right: 0px;
		bottom: 0px;
		border-radius: 20px;
		font-size: 12px;
		background-color: gray;
		color: #fff;
		padding: 0 5px;
		line-height: 16px;
		height: 20px;
		min-width: 20px;
		&.small {
			height: 14px;
			min-width: 14px;
			right: 0px;
			bottom: 0px;
		}
	}
	&.active {
		right: 4%;
		bottom: 4%;
		background-color: rgb(0, 255, 0);
	}
	@media (min-width: 767px) {
		&:not(.empty) {
			right: 5px;
			bottom: 5px;
			border-radius: 24px;
			font-size: 14px;
			line-height: 20px;
			height: 24px;
			min-width: 24px;
			&.small {
				height: 16px;
				min-width: 16px;
				right: 3%;
				bottom: 3%;
			}
		}
		&.active {
			right: 7%;
			bottom: 7%;
		}
	}
}

.app_loading {
	position: fixed;
	left: 50vw;
	top: 50vh;
	transform: translate(-50%, -50%);
	animation: app_loading_delay 4s;
}

.form {
	&__label {
		line-height: 150%;
		cursor: pointer;
		display: block;
		font-size: 16px;
		padding: 0px 0px 5px 0px;
	}
	&__field {
		padding: 0px 0px 5px 0px;
		margin: 0px 0px 25px 0px;
		position: relative;
	}
	&__input {
		padding: 5px 10px;
		border-radius: 4px;
		width: 100%;
		line-height: 150%;
		font-size: 18px;
		background-color: transparent;
		max-width: 250px;
		cursor: pointer;
	}
	&__incorrect {
		line-height: 150%;
		font-size: 14px;
		color: rgba(255, 0, 0, 0.87) !important;
		position: absolute;
		bottom: -16px;
		width: 100%;
	}
	&__button {
		display: block;
		width: 100%;
		font-size: 18px;
		line-height: 150%;
		background-color: transparent;
		padding: 10px 50px;
		margin: 30px 0px 0px 0px;
		border-radius: 4px;
		opacity: 0.7;
		transition: all 0.2s;
		&:not(:disabled) {
			opacity: 1;
			&:hover {
				transform: translate(-1px, -1px);
			}
			&:active {
				transform: translate(0);
			}
		}
		svg {
			height: 26px;
			margin: -5px 0px -7px 0px;
		}
	}
	&__error {
		word-wrap: break-word;
		text-align: center;
		color: rgba(255, 0, 0, 0.87) !important;
		text-transform: capitalize;
	}
	@media (min-width: 767px) {
		&__input {
			font-size: 20px;
		}
	}
}

@keyframes app_loading_delay {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes showModal {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
