@import "./null.scss";

* {
	transition: background-color 0.2s, color 0.2s, stroke 0.2s, stroke-width 0.2s,
		fill 0.2s, border 0.2s, box-shadow 0.2s, opacity 0.2s, visibility 0.2s;
}

:root {
	--dark-text-color: rgba(255, 255, 255, 0.87);
	--dark-subsection-bg: rgb(26, 26, 26);
	--dark-main-bg: rgb(37, 37, 37);
	--dark-button-bg: rgb(37, 37, 37);
	--dark-button-bg-active: rgb(60, 60, 60);
	--dark-items-border-bottom: rgba(255, 255, 255, 0.3);

	--light-text-color: rgb(0, 0, 0);
	--light-subsection-bg: rgb(255, 255, 255);
	--light-main-bg: rgb(235, 235, 235);
	--light-button-bg: rgb(235, 235, 235);
	--light-button-bg-active: rgb(210, 210, 210);
	--light-items-border-bottom: rgba(0, 0, 0, 0.3);

	--chat-height: 100vh;
}

html[theme="dark"] {
	::-webkit-scrollbar-track {
		background: rgba(155, 155, 155, 0.3);
	}
	::-webkit-scrollbar-thumb {
		background: rgba(155, 155, 155, 0.5);
		&:hover {
			background: rgb(155, 155, 155);
		}
	}
	body {
		background-color: var(--dark-subsection-bg);
		@media (min-width: 767px) {
			background-color: var(--dark-main-bg);
		}
	}
	* {
		color: var(--dark-text-color);
	}
	.subsection {
		background-color: var(--dark-subsection-bg);
		&:not(:empty) {
			@media (max-width: 766px) {
				&:not(:first-child) {
					border-top: 1px solid var(--dark-text-color);
				}
			}
			@media (min-width: 767px) {
				border: 1px solid var(--dark-text-color);
			}
		}
	}
	.modal {
		background-color: var(--dark-subsection-bg);
		border: 1px solid var(--dark-text-color);
	}
	.loading_element {
		background-color: var(--dark-main-bg);
	}
	option {
		color: #fff;
		background-color: #000;
	}
	.loadingCircle {
		circle {
			stroke: #fff;
		}
	}
	.closeX {
		path {
			stroke: #fff;
		}
	}
	.likeHeart {
		path {
			stroke: var(--dark-text-color);
		}
		&.likedMe {
			fill: var(--dark-text-color);
		}
	}
	.checkMark {
		fill: var(--dark-text-color);
	}
}

html[theme="light"] {
	::-webkit-scrollbar-track {
		background: rgba(85, 85, 85, 0.3);
	}
	::-webkit-scrollbar-thumb {
		background: rgba(85, 85, 85, 0.5);
		&:hover {
			background: rgb(85, 85, 85);
		}
	}
	body {
		background-color: var(--light-subsection-bg);
		@media (min-width: 767px) {
			background-color: var(--light-main-bg);
		}
	}
	* {
		color: var(--light-text-color);
	}
	.subsection {
		background-color: var(--light-subsection-bg);
		&:not(:empty) {
			@media (max-width: 766px) {
				&:not(:first-child) {
					border-top: 1px solid var(--light-text-color);
				}
			}
			@media (min-width: 767px) {
				border: 1px solid var(--light-text-color);
			}
		}
	}
	.modal {
		background-color: var(--light-subsection-bg);
		border: 1px solid var(--light-text-color);
	}
	.loading_element {
		background-color: var(--light-main-bg);
	}
	option {
		color: #000;
		background-color: #fff;
	}
	.loadingCircle {
		circle {
			stroke: #000;
		}
	}
	.closeX {
		path {
			stroke: #000;
		}
	}
	.likeHeart {
		path {
			stroke: var(--light-text-color);
		}
		&.likedMe {
			fill: var(--light-text-color);
		}
	}
	.checkMark {
		fill: var(--light-text-color);
	}
}

html {
	min-height: calc(100% + env(safe-area-inset-top));
	padding: env(safe-area-inset-top) 0 env(safe-area-inset-bottom) 0;
}

body {
	transition: background-color 0s;
	overflow-x: hidden;
	overflow-y: overlay;
	&.lock {
		overflow: hidden;
	}
}

.wrapper {
	position: relative;
	font-family: "Asap", sans-serif;
	display: flex;
	flex-direction: column;
}

.content {
	flex: 1 1 auto;
	padding: 45px calc(10px + env(safe-area-inset-right)) 0
		calc(10px + env(safe-area-inset-left));
	@media (min-width: 767px) {
		padding: 65px calc(15px + env(safe-area-inset-right)) 0
			calc(15px + env(safe-area-inset-left));
		display: grid;
		grid-template-columns: 0.667fr 200px minmax(537px, 1000px) 1fr;
		aside {
			grid-column: 2/3;
		}
		section {
			grid-column: 3/4;
		}
	}
}

.subsection:not(:empty) {
	transition: background-color 0s;
	position: relative;
	padding: 10px 0px;
	@media (min-width: 767px) {
		&:not(:first-child) {
			margin: 15px 0px 0px 0px;
		}
		border-radius: 8px;
		box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
		padding: 15px;
	}
}

.title {
	&:not(:last-child) {
		padding: 0px 0px 15px 0px;
	}
	text-align: center;
	font-size: 20px;
	font-weight: 700;
	line-height: 150%;
	@media (min-width: 767px) {
		font-size: 22px;
	}
}

.modal {
	&__bg {
		position: fixed;
		z-index: 100;
		left: 0;
		top: 0;
		width: 100vw;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.7);
		animation: showModal 0.4s;
	}
	overflow-x: hidden;
	overflow-y: overlay;
	position: fixed;
	width: 260px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
	padding: 15px 10px;
	border-radius: 8px;
	max-height: calc(100vh - 30px);
	animation: showModal 0.4s;
	@media (min-width: 767px) {
		width: 280px;
		padding: 15px;
	}
}

.app_loading {
	&_balls {
		g:nth-child(odd) {
			circle {
				fill: var(--dark-text-color);
			}
		}
		g:nth-child(even) {
			circle {
				fill: var(--light-text-color);
			}
		}
	}
	position: fixed;
	left: 50vw;
	top: 50vh;
	transform: translate(-50%, -50%);
	animation: app_loading_delay 4s;
}

@keyframes app_loading_delay {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes showModal {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
