html[theme=dark] .error {
  background-color: var(--dark-subsection-bg);
}

html[theme=light] .error {
  background-color: var(--light-subsection-bg);
}

.error {
  z-index: 200;
  position: fixed;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border: 2px solid red;
  border-radius: 8px;
  left: 50%;
  top: 60px;
  font-size: 20px;
  text-align: center;
  width: calc(100% - 20px);
  max-width: 600px;
  min-height: 44px;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0;
  -webkit-transform: translate(-50%, -25%);
      -ms-transform: translate(-50%, -25%);
          transform: translate(-50%, -25%);
}
.error.active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}
.error__message {
  padding: 0 5px;
}
.error__close {
  background-color: transparent;
}
.error__close svg {
  width: 35px;
  height: 35px;
  margin: 0px 0px -3px 0px;
}
.error__close path {
  stroke-width: 1.5;
}
@media (min-width: 767px) {
  .error {
    font-size: 22px;
    top: 75px;
  }
}