.error {
	z-index: 200;
	position: fixed;
	background-color: rgb(255, 50, 50);
	span {
		color: #fff !important;
	}
	min-height: 49px;
	font-size: 22px;
	text-align: center;
	width: 100%;
	line-height: 150%;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: showError 0.6s;
	&__message {
		padding: 0 5px;
	}
	&__close {
		width: 40px;
		height: 40px;
		svg {
			width: 40px;
			height: 40px;
		}
		path {
			stroke: #fff !important;
		}
		background-color: transparent;
	}
}

@keyframes showError {
	0% {
		opacity: 0;
		transform: translateY(-100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
