html[theme="dark"] {
	.error {
		background-color: var(--dark-subsection-bg);
	}
}
html[theme="light"] {
	.error {
		background-color: var(--light-subsection-bg);
	}
}

.error {
	z-index: 200;
	position: fixed;
	backdrop-filter: blur(15px);
	border: 2px solid red;
	border-radius: 8px;
	left: 50%;
	top: 60px;
	font-size: 20px;
	text-align: center;
	width: calc(100% - 20px);
	max-width: 600px;
	min-height: 44px;
	line-height: 150%;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	transition: all 0.2s;
	opacity: 0;
	transform: translate(-50%, -25%);
	&.active {
		visibility: visible;
		opacity: 1;
		transform: translate(-50%, 0%);
	}
	&__message {
		padding: 0 5px;
	}
	&__close {
		background-color: transparent;
		svg {
			width: 35px;
			height: 35px;
			margin: 0px 0px -3px 0px;
		}
	}
	@media (min-width: 767px) {
		font-size: 22px;
		top: 75px;
	}
}
