html[theme="dark"] {
	.settings {
		&__item:not(:last-child) {
			border-bottom: var(--dark-items-border-bottom) solid 1px;
		}
		&__button {
			background-color: var(--dark-button-bg);
			&:hover {
				background-color: var(--dark-button-bg-active);
			}
		}
	}
}
html[theme="light"] {
	.settings {
		&__item:not(:last-child) {
			border-bottom: var(--light-items-border-bottom) solid 1px;
		}
		&__button {
			background-color: var(--light-button-bg);
			&:hover {
				background-color: var(--light-button-bg-active);
			}
		}
	}
}

.settings {
	&__item {
		padding: 10px 0;
	}
	&__category {
		font-size: 20px;
		font-weight: 700;
	}
	&__button {
		margin: 15px 0px 0px 0px;
		cursor: pointer;
		display: inline-block;
		background-color: transparent;
		font-size: 18px;
		padding: 5px 15px;
		display: flex;
		align-items: center;
		gap: 5px;
		border-radius: 4px;
		height: 28px;
		svg {
			margin: -5px 0;
			width: 23px;
			height: 23px;
			pointer-events: none;
			user-select: none;
		}
		&:hover {
			path {
				stroke-width: 2px;
			}
		}
		&.disabled {
			opacity: 0.7;
		}
		&.logout {
			line-height: 100%;
			&:hover {
				color: #fff;
				background-color: red !important;
				svg {
					circle {
						stroke: #fff;
					}
				}
			}
			svg {
				width: 125px;
				height: 20px;
			}
		}
	}
}
