html[theme=dark] .settings__item:not(:last-child) {
  border-bottom: var(--dark-items-border-bottom) solid 1px;
}
html[theme=dark] .settings__button {
  background-color: var(--dark-button-bg);
}
html[theme=dark] .settings__button:hover {
  background-color: var(--dark-button-bg-active);
}

html[theme=light] .settings__item:not(:last-child) {
  border-bottom: var(--light-items-border-bottom) solid 1px;
}
html[theme=light] .settings__button {
  background-color: var(--light-button-bg);
}
html[theme=light] .settings__button:hover {
  background-color: var(--light-button-bg-active);
}

.settings__item {
  padding: 10px 0;
}
.settings__category {
  font-size: 20px;
  font-weight: 700;
}
.settings__button {
  margin: 15px 0px 0px 0px;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  font-size: 18px;
  padding: 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  border-radius: 4px;
  height: 28px;
}
.settings__button svg {
  margin: -5px 0;
  width: 23px;
  height: 23px;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.settings__button:hover path {
  stroke-width: 2px;
}
.settings__button.disabled {
  opacity: 0.7;
}
.settings__button.logout {
  line-height: 100%;
}
.settings__button.logout:hover {
  color: #fff;
  background-color: red !important;
}
.settings__button.logout:hover svg circle {
  stroke: #fff;
}
.settings__button.logout svg {
  width: 125px;
  height: 20px;
}