html[theme=dark] .settings__item:not(:last-child) {
  border-bottom: var(--dark-items-border-bottom) solid 1px;
}
html[theme=dark] .settings__button {
  stroke: var(--dark-button-text-color);
  color: var(--dark-button-text-color);
  background-color: var(--dark-button-bg);
}
html[theme=dark] .settings__button * {
  color: var(--dark-button-text-color);
}
html[theme=dark] .settings__button:hover, html[theme=dark] .settings__button:focus {
  background-color: var(--dark-button-bg-active);
}

html[theme=light] .settings__item:not(:last-child) {
  border-bottom: var(--light-items-border-bottom) solid 1px;
}
html[theme=light] .settings__button {
  stroke: var(--light-button-text-color);
  color: var(--light-button-text-color);
  background-color: var(--light-button-bg);
}
html[theme=light] .settings__button * {
  color: var(--light-button-text-color);
}
html[theme=light] .settings__button:hover, html[theme=light] .settings__button:focus {
  background-color: var(--light-button-bg-active);
}

.settings__item {
  padding: 10px 0;
}
.settings__item:first-child {
  padding: 0px 0px 10px 0px;
}
.settings__item:last-child {
  padding: 10px 0px 0px 0px;
}
.settings__category {
  line-height: 150%;
  font-size: 20px;
  font-weight: 700;
}
.settings__button {
  margin: 15px 0px 0px 0px;
  cursor: pointer;
  background-color: transparent;
  font-size: 18px;
  padding: 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  border-radius: 4px;
  height: 28px;
  position: relative;
}
.settings__button_beta {
  font-size: 14px;
  opacity: 0.7;
  position: absolute;
  right: -5px;
  bottom: 0;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}
.settings__button svg {
  margin: -5px 0;
  width: 23px;
  height: 23px;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.settings__button:hover path {
  stroke-width: 2px;
}
.settings__button.disabled {
  opacity: 0.7;
}
.settings__delete_close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  background-color: transparent;
}
.settings__delete_close svg {
  width: 30px;
  height: 30px;
}
.settings__delete_button {
  background-color: rgba(255, 0, 0, 0.6) !important;
  color: #fff !important;
}
.settings__delete_button:not(:disabled):hover {
  background-color: red !important;
}
.settings__delete_button svg circle {
  stroke: #fff !important;
}
.settings__donation {
  border-radius: 4px;
  margin: 15px 0px 0px 0px;
  background-color: transparent;
  position: relative;
}
.settings__donation img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  position: absolute;
  opacity: 0;
}
.settings__donation_warning {
  text-align: center;
  margin: 10px 0px 0px 0px;
  opacity: 0.7;
  line-height: 150%;
  font-size: 16px;
}
.settings__donation_warning a {
  text-decoration: underline;
}
.settings__topdonations_title {
  line-height: 150%;
  text-align: center;
  font-size: 18px;
  margin: 15px 0px 0px 0px;
}
.settings__topdonations_items {
  margin: 10px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.settings__topdonations_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.settings__topdonations_image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
}
.settings__topdonations_image img {
  pointer-events: none;
  width: 100%;
  height: 40px;
  border-radius: 50%;
}
.settings__topdonations_name {
  line-height: 150%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 700;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}
.settings__topdonations_value {
  line-height: 150%;
  text-align: right;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  white-space: nowrap;
}
@media (min-width: 767px) {
  .settings__donation_warning {
    text-align: left;
  }
  .settings__topdonations {
    max-width: 280px;
  }
  .settings__topdonations_items {
    margin: 10px 0px 0px 0px;
  }
  .settings__topdonations_item:hover .settings__topdonations_name, .settings__topdonations_item:focus .settings__topdonations_name {
    text-decoration: underline;
  }
}