html[theme=dark] .messages__loading_chat {
  background-color: var(--dark-subsection-bg);
}
html[theme=dark] .messages__loading_chat_header {
  border-bottom: var(--dark-items-border-bottom) solid 1px;
}
html[theme=dark] .messages__user.unread .messages__user_content {
  background-color: var(--dark-highlight);
}
html[theme=dark] .messages__user.unread .messages__user_content * {
  color: var(--dark-button-text-color);
}
html[theme=dark] .messages__user.unread .messages__user_actions_show span,
html[theme=dark] .messages__user.unread .messages__user_actions_show span:before,
html[theme=dark] .messages__user.unread .messages__user_actions_show span:after {
  background-color: var(--dark-button-text-color);
}
html[theme=dark] .messages__user_content:hover, html[theme=dark] .messages__user_content:focus {
  background-color: var(--dark-button-bg) !important;
}
html[theme=dark] .messages__user_content:hover *, html[theme=dark] .messages__user_content:focus * {
  color: var(--dark-button-text-color);
}
html[theme=dark] .messages__user_content:hover .messages__user_lastmessage_status:not(.read) svg, html[theme=dark] .messages__user_content:focus .messages__user_lastmessage_status:not(.read) svg {
  fill: var(--dark-button-text-color);
}
html[theme=dark] .messages__user_actions_show span,
html[theme=dark] .messages__user_actions_show span:before,
html[theme=dark] .messages__user_actions_show span:after {
  background-color: var(--dark-button-bg);
}
html[theme=dark] .messages__user_actions_delete {
  color: var(--dark-button-text-color);
  background-color: var(--dark-button-bg);
}
html[theme=dark] .messages__user_actions_delete * {
  color: var(--dark-button-text-color);
}
html[theme=dark] .messages__user_actions_delete:hover, html[theme=dark] .messages__user_actions_delete:focus {
  background-color: var(--dark-button-bg-active);
}
html[theme=dark] .messages__user:hover .messages__user_actions_show span,
html[theme=dark] .messages__user:hover .messages__user_actions_show span:before,
html[theme=dark] .messages__user:hover .messages__user_actions_show span:after {
  background-color: var(--dark-button-text-color);
}
html[theme=dark] .messages__user:not(.unread) .messages__user_actions:hover .messages__user_actions_show span,
html[theme=dark] .messages__user:not(.unread) .messages__user_actions:hover .messages__user_actions_show span:before,
html[theme=dark] .messages__user:not(.unread) .messages__user_actions:hover .messages__user_actions_show span:after {
  background-color: var(--dark-button-bg);
}
html[theme=dark] .messages__chat {
  background-color: var(--dark-subsection-bg);
}
html[theme=dark] .messages__chat_header {
  border-bottom: var(--dark-items-border-bottom) solid 1px;
}
html[theme=dark] .messages__chat_header_back::before {
  border-bottom: 2px solid var(--dark-text-color);
  border-left: 2px solid var(--dark-text-color);
}
html[theme=dark] .messages__chat_input_field {
  border: 2px solid var(--dark-button-bg);
}
html[theme=dark] .messages__chat_input_field:focus {
  border: 2px solid var(--dark-button-bg-active);
}
html[theme=dark] .messages__chat_input_send:not(:disabled):hover {
  background-color: var(--dark-button-bg-active);
}
html[theme=dark] .messages__chat_input_send:not(:disabled):hover path {
  fill: var(--dark-button-text-color);
}
html[theme=dark] .messages__message_content {
  background-color: var(--dark-input-bg);
}
html[theme=dark] .messages__message_content .messages__message_status:not(.read) svg {
  fill: var(--dark-button-text-color);
}
html[theme=dark] .messages__message.out .messages__message_content {
  background-color: var(--dark-button-bg);
}
html[theme=dark] .messages__message.out .messages__message_content * {
  color: var(--dark-button-text-color);
}
html[theme=dark] .messages__message_actions_delete {
  color: var(--dark-button-text-color);
  background-color: var(--dark-button-bg);
}
html[theme=dark] .messages__message_actions_delete:hover, html[theme=dark] .messages__message_actions_delete:focus {
  background-color: var(--dark-button-bg-active);
}

html[theme=light] .messages__loading_chat {
  background-color: var(--light-subsection-bg);
}
html[theme=light] .messages__loading_chat_header {
  border-bottom: var(--light-items-border-bottom) solid 1px;
}
html[theme=light] .messages__user.unread .messages__user_content {
  background-color: var(--light-highlight);
}
html[theme=light] .messages__user.unread .messages__user_content * {
  color: var(--light-button-text-color);
}
html[theme=light] .messages__user.unread .messages__user_actions_show span,
html[theme=light] .messages__user.unread .messages__user_actions_show span:before,
html[theme=light] .messages__user.unread .messages__user_actions_show span:after {
  background-color: var(--light-button-text-color);
}
html[theme=light] .messages__user_content:hover, html[theme=light] .messages__user_content:focus {
  background-color: var(--light-button-bg) !important;
}
html[theme=light] .messages__user_content:hover *, html[theme=light] .messages__user_content:focus * {
  color: var(--light-button-text-color);
}
html[theme=light] .messages__user_content:hover .messages__user_lastmessage_status:not(.read) svg, html[theme=light] .messages__user_content:focus .messages__user_lastmessage_status:not(.read) svg {
  fill: var(--light-button-text-color);
}
html[theme=light] .messages__user_actions_show span,
html[theme=light] .messages__user_actions_show span:before,
html[theme=light] .messages__user_actions_show span:after {
  background-color: var(--light-button-bg);
}
html[theme=light] .messages__user_actions_delete {
  color: var(--light-button-text-color);
  background-color: var(--light-button-bg);
}
html[theme=light] .messages__user_actions_delete * {
  color: var(--light-button-text-color);
}
html[theme=light] .messages__user_actions_delete:hover, html[theme=light] .messages__user_actions_delete:focus {
  background-color: var(--light-button-bg-active);
}
html[theme=light] .messages__user:hover .messages__user_actions_show span,
html[theme=light] .messages__user:hover .messages__user_actions_show span:before,
html[theme=light] .messages__user:hover .messages__user_actions_show span:after {
  background-color: var(--light-button-text-color);
}
html[theme=light] .messages__user:not(.unread) .messages__user_actions:hover .messages__user_actions_show span,
html[theme=light] .messages__user:not(.unread) .messages__user_actions:hover .messages__user_actions_show span:before,
html[theme=light] .messages__user:not(.unread) .messages__user_actions:hover .messages__user_actions_show span:after {
  background-color: var(--light-button-bg);
}
html[theme=light] .messages__chat {
  background-color: var(--light-subsection-bg);
}
html[theme=light] .messages__chat_header {
  border-bottom: var(--light-items-border-bottom) solid 1px;
}
html[theme=light] .messages__chat_header_back::before {
  border-bottom: 2px solid var(--light-text-color);
  border-left: 2px solid var(--light-text-color);
}
html[theme=light] .messages__chat_input_field {
  border: 2px solid var(--light-button-bg);
}
html[theme=light] .messages__chat_input_field:focus {
  border: 2px solid var(--light-button-bg-active);
}
html[theme=light] .messages__chat_input_send:not(:disabled):hover {
  background-color: var(--light-button-bg-active);
}
html[theme=light] .messages__chat_input_send:not(:disabled):hover path {
  fill: var(--light-button-text-color);
}
html[theme=light] .messages__message_content {
  background-color: var(--light-input-bg);
}
html[theme=light] .messages__message_content .messages__message_status:not(.read) svg {
  fill: var(--light-button-text-color);
}
html[theme=light] .messages__message.out .messages__message_content {
  background-color: var(--light-button-bg);
}
html[theme=light] .messages__message.out .messages__message_content * {
  color: var(--light-button-text-color);
}
html[theme=light] .messages__message_actions_delete {
  color: var(--light-button-text-color);
  background-color: var(--light-button-bg);
}
html[theme=light] .messages__message_actions_delete:hover, html[theme=light] .messages__message_actions_delete:focus {
  background-color: var(--light-button-bg-active);
}

.messages__loading_users {
  margin: -5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.messages__loading_user {
  position: relative;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.messages__loading_user_image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
  height: 50px;
  border-radius: 50% !important;
}
.messages__loading_user_info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
}
.messages__loading_user_name {
  width: 125px;
  height: 16px;
}
.messages__loading_user_lastmessage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.messages__loading_user_lastmessage_text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 14px;
}
.messages__loading_user_lastmessage_text div {
  height: 14px;
  width: 100px;
}
.messages__loading_user_lastmessage_date {
  width: 35px;
  height: 14px;
}
.messages__loading_user_actions {
  position: absolute;
  right: 10px;
  top: 20px;
  width: 30px;
  height: 10px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.messages__loading_chat {
  padding: 5px calc(10px + env(safe-area-inset-right)) 5px calc(10px + env(safe-area-inset-left));
  z-index: 250;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.messages__loading_chat_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px 5px 0px;
  height: 40px;
  position: relative;
}
.messages__loading_chat_back {
  width: 49px;
  height: 24px;
}
.messages__loading_chat_name {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 140px;
  height: 24px;
}
.messages__loading_chat_image {
  width: 35px;
  height: 35px;
  border-radius: 50% !important;
}
.messages__loading_chat_content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.messages__loading_chat_field {
  position: relative;
}
.messages__loading_chat_input {
  width: calc(100% - 50px);
  height: 50px;
}
.messages__loading_chat_send {
  position: absolute;
  top: 7.5px;
  right: 0;
  width: 35px;
  height: 35px;
}
.messages__users {
  margin: -5px -10px -5px -10px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.messages__users_no_users {
  line-height: 150%;
  font-size: 20px;
  text-align: center;
}
.messages__user {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.messages__user_content {
  width: 100%;
  padding: 5px 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  line-height: 150%;
}
.messages__user_image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
}
.messages__user_image img {
  pointer-events: none;
  width: 100%;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.messages__user_image.online img {
  padding: 2px;
  border: 2px solid rgba(0, 255, 0, 0.7);
}
.messages__user_info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  overflow: hidden;
  white-space: nowrap;
}
.messages__user_name {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 16px;
  font-weight: 700;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}
.messages__user_lastmessage {
  font-size: 14px;
  opacity: 0.7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.messages__user_lastmessage_text {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow-x: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}
.messages__user_lastmessage_status {
  opacity: 0.7;
}
.messages__user_lastmessage_status svg {
  height: 10px;
}
.messages__user_lastmessage_status svg:last-child:not(:first-child) {
  margin: 0px 0px 0px -5px;
}
.messages__user_lastmessage_status.read svg {
  fill: var(--link-color);
}
.messages__user_actions {
  position: absolute;
  right: 10px;
  top: 5px;
}
.messages__user_actions_show {
  opacity: 0.7;
  width: 30px;
  height: 30px;
  background-color: transparent;
  position: relative;
  z-index: 3;
  border-radius: 4px;
}
.messages__user_actions_show:hover, .messages__user_actions_show:focus {
  opacity: 1;
}
.messages__user_actions_show span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
.messages__user_actions_show span:before,
.messages__user_actions_show span:after {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
.messages__user_actions_show span:before {
  left: -10px;
}
.messages__user_actions_show span:after {
  right: -10px;
}
.messages__user_actions_delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  z-index: 2;
  position: absolute;
  width: 150px;
  right: 35px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 16px;
  line-height: 150%;
  border-radius: 4px;
  background-color: transparent;
  padding: 2px 10px;
  opacity: 0;
  visibility: hidden;
}
.messages__user_actions_delete svg {
  width: 24px;
  height: 24px;
}
.messages__user_actions_delete.active {
  opacity: 1;
  visibility: visible;
}
.messages__not_found {
  line-height: 150%;
  font-size: 20px;
  text-align: center;
}
.messages__chat {
  padding: calc(5px + env(safe-area-inset-top)) calc(10px + env(safe-area-inset-right)) calc(5px + env(safe-area-inset-bottom)) calc(10px + env(safe-area-inset-left));
  z-index: 250;
  position: fixed;
  left: 0;
  top: 0;
  height: var(--app-height);
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.messages__chat_header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px 5px 0px;
  gap: 5px;
  height: 40px;
}
.messages__chat_header_back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2px;
  font-size: 16px;
  line-height: 150%;
  padding: 0px 0px 0px 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  opacity: 0.8;
}
.messages__chat_header_back::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 4px;
}
.messages__chat_header_back:hover {
  opacity: 1;
}
.messages__chat_header_name {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: calc(100% - 110px);
  text-align: center;
  line-height: 150%;
  font-size: 16px;
  font-weight: 700;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.messages__chat_header_image img {
  pointer-events: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.messages__chat_header_image.online img {
  border: 2px solid rgba(0, 255, 0, 0.7);
  padding: 2px;
}
.messages__chat_content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0px -7px 0px 0px;
  padding: 10px 12px 10px 0px;
  max-height: 100%;
  overflow-y: overlay;
  position: relative;
}
.messages__chat_content_no_content {
  opacity: 0.7;
  text-align: center;
  width: 66.667%;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.messages__chat_input {
  position: relative;
  width: 100%;
}
.messages__chat_input_field {
  border-radius: 4px;
  resize: none;
  display: inline-block;
  font-size: 16px;
  line-height: 26px;
  background-color: transparent;
  padding: 10px;
  width: calc(100% - 50px);
  overflow: auto;
  height: 50px;
}
.messages__chat_input_send {
  position: absolute;
  top: 5px;
  right: 0;
  font-size: 0;
  opacity: 0.3;
  border-radius: 4px;
  background-color: transparent;
}
.messages__chat_input_send svg {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 40px;
  height: 40px;
}
.messages__chat_input_send:not(:disabled) {
  opacity: 1;
}
.messages__date {
  font-weight: 700;
  letter-spacing: 1px;
  opacity: 0.7;
  margin: 0px 0px 10px 0px;
  text-align: center;
  line-height: 150%;
  font-size: 14px;
}
.messages__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.messages__message:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.messages__message.out {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.messages__message.out:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.messages__message_content {
  max-width: 66.667%;
  padding: 2px 7px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.messages__message_spacer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.messages__message_text {
  font-size: 16px;
  line-height: 150%;
  overflow-wrap: break-word;
}
.messages__message_text a {
  color: var(--link-color) !important;
  text-decoration: underline;
}
.messages__message_footer {
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 5px;
}
.messages__message_status {
  opacity: 0.7;
}
.messages__message_status svg {
  height: 10px;
}
.messages__message_status svg:last-child:not(:first-child) {
  margin: 0px 0px 0px -5px;
}
.messages__message_status.read svg {
  fill: var(--link-color);
}
.messages__message_date {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0.7;
}
.messages__message_actions {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  height: 30px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.messages__message_actions_delete {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  width: 75px;
  font-size: 16px;
  line-height: 150%;
  border-radius: 4px;
  padding: 2px 10px;
  opacity: 0;
  visibility: hidden;
}
.messages__message_actions_delete svg {
  margin: 0px 0px -3px 0px;
  height: 18px;
}
.messages__message_actions_delete.active {
  opacity: 1;
  visibility: visible;
}
@media (min-width: 767px) {
  .messages__loading_user {
    margin: 0 -15px 0 -15px;
    padding: 5px 15px;
    gap: 15px;
  }
  .messages__loading_user_image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60px;
            flex: 0 0 60px;
    height: 60px;
  }
  .messages__loading_user_info {
    height: 60px;
  }
  .messages__loading_user_actions {
    right: 15px;
  }
  .messages__loading_chat {
    position: static;
    height: calc(100vh - 112px);
    padding: 0;
    width: 100%;
  }
  .messages__loading_chat_header {
    height: 40px;
  }
  .messages__loading_chat_name {
    width: 150px;
    height: 27px;
  }
  .messages__loading_chat_image {
    width: 35px;
    height: 35px;
  }
  .messages__users {
    margin: -5px -15px -5px -15px;
  }
  .messages__user_content {
    padding: 5px 15px;
    gap: 15px;
  }
  .messages__user_image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60px;
            flex: 0 0 60px;
  }
  .messages__user_image img {
    height: 60px;
  }
  .messages__user_info {
    height: 60px;
  }
  .messages__user_date {
    right: 15px;
    font-size: 14px;
  }
  .messages__user_lastmessage_status svg {
    height: 12px;
  }
  .messages__user_actions {
    right: 15px;
  }
  .messages__chat {
    position: static;
    height: calc(100vh - 112px);
    padding: 0;
    width: 100%;
  }
  .messages__chat_header_name {
    font-size: 18px;
    max-width: calc(100% - 110px);
    width: auto;
  }
  .messages__message_footer {
    font-size: 12px;
  }
  .messages__message_status svg {
    height: 12px;
  }
}