html[theme="dark"] {
	.messages {
		&__loading {
			&_chat {
				background-color: var(--dark-subsection-bg);
				&_header {
					border-bottom: var(--dark-items-border-bottom) solid 1px;
				}
			}
		}
		&__user {
			&.unread {
				.messages__user_content {
					* {
						color: var(--dark-button-text-color);
					}
					background-color: var(--dark-highlight);
				}
				.messages__user_actions_show {
					span,
					span:before,
					span:after {
						background-color: var(--dark-button-text-color);
					}
				}
			}
			&_content {
				&:hover,
				&:focus {
					* {
						color: var(--dark-button-text-color);
					}
					background-color: var(--dark-button-bg) !important;
					.messages__user_lastmessage_status:not(.read) {
						svg {
							fill: var(--dark-button-text-color);
						}
					}
				}
			}
			&_actions {
				&_show {
					span,
					span:before,
					span:after {
						background-color: var(--dark-button-bg);
					}
				}
				&_delete {
					* {
						color: var(--dark-button-text-color);
					}
					color: var(--dark-button-text-color);
					background-color: var(--dark-button-bg);
					&:hover,
					&:focus {
						background-color: var(--dark-button-bg-active);
					}
				}
			}
			&:hover {
				.messages__user_actions {
					&_show {
						span,
						span:before,
						span:after {
							background-color: var(--dark-button-text-color);
						}
					}
				}
			}
			&:not(.unread) {
				.messages__user_actions:hover {
					.messages__user_actions_show {
						span,
						span:before,
						span:after {
							background-color: var(--dark-button-bg);
						}
					}
				}
			}
		}
		&__chat {
			background-color: var(--dark-subsection-bg);
			&_header {
				border-bottom: var(--dark-items-border-bottom) solid 1px;
				&_back {
					&::before {
						border-bottom: 2px solid var(--dark-text-color);
						border-left: 2px solid var(--dark-text-color);
					}
				}
			}
			&_input {
				&_field {
					border: 2px solid var(--dark-button-bg);
					&:focus {
						border: 2px solid var(--dark-button-bg-active);
					}
				}
				&_send {
					&:not(:disabled):hover {
						path {
							fill: var(--dark-button-text-color);
						}
						background-color: var(--dark-button-bg-active);
					}
				}
			}
		}
		&__message {
			&_content {
				background-color: var(--dark-input-bg);
				.messages__message_status:not(.read) {
					svg {
						fill: var(--dark-button-text-color);
					}
				}
			}
			&.out {
				.messages__message_content {
					* {
						color: var(--dark-button-text-color);
					}
					background-color: var(--dark-button-bg);
				}
			}
			&_actions {
				&_delete {
					color: var(--dark-button-text-color);
					background-color: var(--dark-button-bg);
					&:hover,
					&:focus {
						background-color: var(--dark-button-bg-active);
					}
				}
			}
		}
	}
}
html[theme="light"] {
	.messages {
		&__loading {
			&_chat {
				background-color: var(--light-subsection-bg);
				&_header {
					border-bottom: var(--light-items-border-bottom) solid 1px;
				}
			}
		}
		&__user {
			&.unread {
				.messages__user_content {
					* {
						color: var(--light-button-text-color);
					}
					background-color: var(--light-highlight);
				}
				.messages__user_actions_show {
					span,
					span:before,
					span:after {
						background-color: var(--light-button-text-color);
					}
				}
			}
			&_content {
				&:hover,
				&:focus {
					* {
						color: var(--light-button-text-color);
					}
					background-color: var(--light-button-bg) !important;
					.messages__user_lastmessage_status:not(.read) {
						svg {
							fill: var(--light-button-text-color);
						}
					}
				}
			}
			&_actions {
				&_show {
					span,
					span:before,
					span:after {
						background-color: var(--light-button-bg);
					}
				}
				&_delete {
					* {
						color: var(--light-button-text-color);
					}
					color: var(--light-button-text-color);
					background-color: var(--light-button-bg);
					&:hover,
					&:focus {
						background-color: var(--light-button-bg-active);
					}
				}
			}
			&:hover {
				.messages__user_actions {
					&_show {
						span,
						span:before,
						span:after {
							background-color: var(--light-button-text-color);
						}
					}
				}
			}
			&:not(.unread) {
				.messages__user_actions:hover {
					.messages__user_actions_show {
						span,
						span:before,
						span:after {
							background-color: var(--light-button-bg);
						}
					}
				}
			}
		}
		&__chat {
			background-color: var(--light-subsection-bg);
			&_header {
				border-bottom: var(--light-items-border-bottom) solid 1px;
				&_back {
					&::before {
						border-bottom: 2px solid var(--light-text-color);
						border-left: 2px solid var(--light-text-color);
					}
				}
			}
			&_input {
				&_field {
					border: 2px solid var(--light-button-bg);
					&:focus {
						border: 2px solid var(--light-button-bg-active);
					}
				}
				&_send {
					&:not(:disabled):hover {
						path {
							fill: var(--light-button-text-color);
						}
						background-color: var(--light-button-bg-active);
					}
				}
			}
		}
		&__message {
			&_content {
				background-color: var(--light-input-bg);
				.messages__message_status:not(.read) {
					svg {
						fill: var(--light-button-text-color);
					}
				}
			}
			&.out {
				.messages__message_content {
					* {
						color: var(--light-button-text-color);
					}
					background-color: var(--light-button-bg);
				}
			}
			&_actions {
				&_delete {
					color: var(--light-button-text-color);
					background-color: var(--light-button-bg);
					&:hover,
					&:focus {
						background-color: var(--light-button-bg-active);
					}
				}
			}
		}
	}
}

.messages {
	&__loading {
		&_users {
			margin: -5px 0;
			display: flex;
			flex-direction: column;
			gap: 5px;
		}
		&_user {
			position: relative;
			padding: 5px;
			display: flex;
			gap: 10px;
			&_image {
				flex: 0 0 50px;
				height: 50px;
				border-radius: 50% !important;
			}
			&_info {
				flex: 1 1 auto;
				height: 50px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				gap: 5px;
			}
			&_name {
				width: 125px;
				height: 16px;
			}
			&_lastmessage {
				display: flex;
				align-items: center;
				gap: 5px;
				&_text {
					flex: 1 1 auto;
					height: 14px;
					div {
						height: 14px;
						width: 100px;
					}
				}
				&_date {
					width: 35px;
					height: 14px;
				}
			}
			&_actions {
				position: absolute;
				right: 10px;
				top: 20px;
				width: 30px;
				height: 10px;
				transform: translateY(-50%);
			}
		}
		&_chat {
			padding: 5px calc(10px + env(safe-area-inset-right)) 5px
				calc(10px + env(safe-area-inset-left));
			z-index: 250;
			position: fixed;
			left: 0;
			top: 0;
			height: var(--app-height);
			width: 100vw;
			display: flex;
			flex-direction: column;
			&_header {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 0px 0px 5px 0px;
				height: 40px;
				position: relative;
			}
			&_back {
				width: 49px;
				height: 24px;
			}
			&_name {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				width: 140px;
				height: 24px;
			}
			&_image {
				width: 35px;
				height: 35px;
				border-radius: 50% !important;
			}
			&_content {
				flex: 1 1 auto;
			}
			&_field {
				position: relative;
			}
			&_input {
				width: calc(100% - 50px);
				height: 50px;
			}
			&_send {
				position: absolute;
				top: 7.5px;
				right: 0;
				width: 35px;
				height: 35px;
			}
		}
	}
	&__users {
		margin: -5px -10px -5px -10px;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		gap: 5px;
		&_no_users {
			line-height: 150%;
			font-size: 20px;
			text-align: center;
		}
	}
	&__user {
		transition: all 0.2s;
		position: relative;
		display: flex;
		align-items: center;
		&_content {
			width: 100%;
			padding: 5px 10px;
			flex: 1 1 auto;
			display: flex;
			align-items: center;
			gap: 10px;
			line-height: 150%;
		}
		&_image {
			position: relative;
			flex: 0 0 50px;
			img {
				pointer-events: none;
				width: 100%;
				height: 50px;
				border-radius: 50%;
				object-fit: cover;
			}
		}
		&_info {
			flex: 1 1 auto;
			height: 50px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 5px;
			overflow: hidden;
			white-space: nowrap;
		}
		&_name {
			transition: all 0.2s;
			font-size: 16px;
			font-weight: 700;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		&_lastmessage {
			font-size: 14px;
			opacity: 0.7;
			display: flex;
			align-items: center;
			gap: 5px;
			&_text {
				transition: all 0.2s;
				flex: 1 1 auto;
				overflow-x: hidden;
				text-overflow: ellipsis;
			}
			&_status {
				opacity: 0.7;
				svg {
					height: 10px;
				}
				svg:last-child:not(:first-child) {
					margin: 0px 0px 0px -5px;
				}
				&.read {
					svg {
						fill: var(--link-color);
					}
				}
			}
		}
		&_actions {
			position: absolute;
			right: 10px;
			top: 5px;
			&_show {
				opacity: 0.7;
				&:hover,
				&:focus {
					opacity: 1;
				}
				width: 30px;
				height: 30px;
				background-color: transparent;
				position: relative;
				z-index: 3;
				border-radius: 4px;
				span {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 5px;
					height: 5px;
					border-radius: 50%;
				}
				span:before,
				span:after {
					transition: all 0.2s;
					content: "";
					position: absolute;
					width: 5px;
					height: 5px;
					border-radius: 50%;
				}
				span:before {
					left: -10px;
				}
				span:after {
					right: -10px;
				}
			}
			&_delete {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 5px;
				z-index: 2;
				position: absolute;
				width: 150px;
				right: 35px;
				top: 50%;
				transform: translateY(-50%);
				font-size: 16px;
				line-height: 150%;
				border-radius: 4px;
				background-color: transparent;
				padding: 2px 10px;
				svg {
					width: 24px;
					height: 24px;
				}
				opacity: 0;
				visibility: hidden;
				&.active {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	&__not_found {
		line-height: 150%;
		font-size: 20px;
		text-align: center;
	}
	&__chat {
		padding: calc(5px + env(safe-area-inset-top))
			calc(10px + env(safe-area-inset-right))
			calc(5px + env(safe-area-inset-bottom))
			calc(10px + env(safe-area-inset-left));
		z-index: 250;
		position: fixed;
		left: 0;
		top: 0;
		height: var(--app-height);
		width: 100vw;
		display: flex;
		flex-direction: column;
		&_header {
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0px 0px 5px 0px;
			gap: 5px;
			height: 40px;
			&_back {
				display: flex;
				gap: 2px;
				font-size: 16px;
				line-height: 150%;
				padding: 0px 0px 0px 16px;
				align-items: center;
				border-radius: 4px;
				&::before {
					content: "";
					position: absolute;
					width: 12px;
					height: 12px;
					transform: rotate(45deg);
					left: 4px;
				}
				opacity: 0.8;
				&:hover {
					opacity: 1;
				}
			}
			&_name {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				width: calc(100% - 110px);
				text-align: center;
				line-height: 150%;
				font-size: 16px;
				font-weight: 700;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
			&_image {
				position: relative;
				img {
					pointer-events: none;
					width: 35px;
					height: 35px;
					border-radius: 50%;
					object-fit: cover;
				}
			}
			&_online {
				&:not(.empty) {
					position: absolute;
					right: 0px;
					bottom: 0px;
					border-radius: 12px;
					padding: 0;
					&.small {
						height: 12px;
						min-width: 12px;
						right: 0px;
						bottom: 0px;
					}
				}
			}
		}
		&_content {
			flex: 1 1 auto;
			margin: 0px -7px 0px 0px;
			padding: 10px 12px 10px 0px;
			max-height: 100%;
			overflow-y: overlay;
			position: relative;
			&_no_content {
				opacity: 0.7;
				text-align: center;
				width: 66.667%;
				font-size: 20px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
		&_input {
			position: relative;
			width: 100%;
			&_field {
				border-radius: 4px;
				resize: none;
				display: inline-block;
				font-size: 16px;
				line-height: 26px;
				background-color: transparent;
				padding: 10px;
				width: calc(100% - 50px);
				overflow: auto;
				height: 50px;
			}
			&_send {
				position: absolute;
				top: 5px;
				right: 0;
				font-size: 0;
				opacity: 0.3;
				border-radius: 4px;
				background-color: transparent;
				svg {
					transform: rotate(-90deg);
					width: 40px;
					height: 40px;
				}
				&:not(:disabled) {
					opacity: 1;
				}
			}
		}
	}
	&__date {
		font-weight: 700;
		letter-spacing: 1px;
		opacity: 0.7;
		margin: 0px 0px 10px 0px;
		text-align: center;
		line-height: 150%;
		font-size: 14px;
	}
	&__message {
		&:not(:last-child) {
			margin: 0px 0px 10px 0px;
		}
		display: flex;
		position: relative;
		&.out {
			&:not(:last-child) {
				margin: 0px 0px 10px 0px;
			}
			flex-direction: row-reverse;
		}
		&_content {
			max-width: 66.667%;
			padding: 2px 7px;
			border-radius: 8px;
			display: flex;
			flex-direction: column;
		}
		&_spacer {
			flex: 1;
		}
		&_text {
			font-size: 16px;
			line-height: 150%;
			overflow-wrap: break-word;
			a {
				color: var(--link-color) !important;
				&:hover,
				&:focus {
					text-decoration: underline;
				}
			}
		}
		&_footer {
			font-size: 10px;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			gap: 5px;
		}
		&_status {
			opacity: 0.7;
			svg {
				height: 10px;
			}
			svg:last-child:not(:first-child) {
				margin: 0px 0px 0px -5px;
			}
			&.read {
				svg {
					fill: var(--link-color);
				}
			}
		}
		&_date {
			user-select: none;
			opacity: 0.7;
		}
		&_actions {
			position: absolute;
			z-index: 1;
			top: 50%;
			left: 0;
			height: 30px;
			transform: translateY(-50%);
			&_delete {
				user-select: none;
				background-color: transparent;
				width: 75px;
				font-size: 16px;
				line-height: 150%;
				border-radius: 4px;
				padding: 2px 10px;
				svg {
					margin: 0px 0px -3px 0px;
					height: 18px;
				}
				opacity: 0;
				visibility: hidden;
				&.active {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	@media (min-width: 767px) {
		&__loading {
			&_user {
				margin: 0 -15px 0 -15px;
				padding: 5px 15px;
				gap: 15px;
				&_image {
					flex: 0 0 60px;
					height: 60px;
				}
				&_info {
					height: 60px;
				}
				&_actions {
					right: 15px;
				}
			}
			&_chat {
				position: static;
				height: calc(100vh - 112px);
				padding: 0;
				width: 100%;
				&_header {
					height: 40px;
				}
				&_name {
					width: 150px;
					height: 27px;
				}
				&_image {
					width: 35px;
					height: 35px;
				}
			}
		}
		&__users {
			margin: -5px -15px -5px -15px;
		}
		&__user {
			&_content {
				padding: 5px 15px;
				gap: 15px;
			}
			&_image {
				flex: 0 0 60px;
				img {
					height: 60px;
				}
			}
			&_info {
				height: 60px;
			}
			&_date {
				right: 15px;
				font-size: 14px;
			}
			&_lastmessage {
				&_status {
					svg {
						height: 12px;
					}
				}
			}
			&_actions {
				right: 15px;
			}
		}
		&__chat {
			position: static;
			height: calc(100vh - 112px);
			padding: 0;
			width: 100%;
			&_header {
				&_name {
					font-size: 18px;
					max-width: calc(100% - 110px);
					width: auto;
				}
			}
		}
		&__message {
			&_footer {
				font-size: 12px;
			}
			&_status {
				svg {
					height: 12px;
				}
			}
		}
	}
}
