.error {
  z-index: 200;
  position: fixed;
  background-color: rgb(255, 50, 50);
  min-height: 49px;
  font-size: 22px;
  text-align: center;
  width: 100%;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: showError 0.6s;
          animation: showError 0.6s;
}
.error span {
  color: #fff !important;
}
.error__message {
  padding: 0 5px;
}
.error__close {
  width: 40px;
  height: 40px;
  background-color: transparent;
}
.error__close svg {
  width: 40px;
  height: 40px;
}
.error__close path {
  stroke: #fff !important;
}

@-webkit-keyframes showError {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes showError {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}