html[theme="dark"] {
	.navbar {
		&__link {
			&:not(.notAuth).active {
				color: var(--dark-button-bg-active);
			}
			&:hover,
			&:focus {
				background-color: var(--dark-subsection-bg);
				border: 1px solid var(--dark-button-bg);
			}
		}
		&__bg {
			background-color: var(--dark-main-bg);
		}
	}
}

html[theme="light"] {
	.navbar {
		&__link {
			&:not(.notAuth).active {
				color: var(--light-button-bg-active);
			}
			&:hover,
			&:focus {
				background-color: var(--light-subsection-bg);
				border: 1px solid var(--light-button-bg);
			}
		}
		&__bg {
			background-color: var(--light-main-bg);
		}
	}
}

.navbar {
	&__menu {
		display: flex;
		flex-direction: column;
	}
	&__link {
		font-size: 24px;
		letter-spacing: 1px;
		padding: 4px 20px;
		line-height: 150%;
		border-radius: 4px;
		transition: background-color 0.2s, box-shadow 0.2s;
		margin: 1px;
		&:hover,
		&:focus {
			margin: 0;
			box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
		}
		&.messages {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&.notAuth {
			opacity: 0.5;
		}
	}
	@media (max-width: 766px) {
		z-index: 10;
		position: fixed;
		width: 220px;
		height: 100vh;
		top: 0;
		right: -100%;
		opacity: 0;
		visibility: hidden;
		transition: all 0.2s;
		&__bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		&__blur {
			position: fixed;
			z-index: -1;
			left: 0;
			top: 0;
			width: 100vw;
			height: 100vh;
			background-color: rgba(0, 0, 0, 0.7);
		}
		&__menu {
			width: auto;
			position: absolute;
			z-index: 1;
			top: 55px;
			right: -100%;
			max-height: calc(100vh - 65px);
			overflow-y: overlay;
			z-index: 40;
			transition: all 0.4s;
		}
		&__link {
			z-index: 10;
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			margin: 1px 1px 11px -1px;
			&:hover,
			&:focus {
				margin: 0 0 10px 0;
			}
			text-align: right;
			width: 200px;
			&.messages {
				justify-content: space-between;
				flex-direction: row-reverse;
			}
		}
		&.active {
			right: 0;
			opacity: 1;
			visibility: visible;
			.navbar__menu {
				right: 10px;
			}
		}
	}
	@media (min-width: 767px) {
		&__menu {
			position: fixed;
			width: 200px;
			padding: 0 15px 0 0;
		}
		&__link {
			font-size: 20px;
			padding: 0px 15px;
			&:not(:last-child) {
				margin: 1px 1px 6px 1px;
				&:hover,
				&:focus {
					margin: 0 0 5px 0;
				}
			}
		}
	}
}
