html[theme=dark] .navbar__link:not(.notAuth).active {
  color: var(--dark-button-bg-active);
}
html[theme=dark] .navbar__link:hover, html[theme=dark] .navbar__link:focus {
  background-color: var(--dark-subsection-bg);
  border: 1px solid var(--dark-button-bg);
}
html[theme=dark] .navbar__bg {
  background-color: var(--dark-main-bg);
}

html[theme=light] .navbar__link:not(.notAuth).active {
  color: var(--light-button-bg-active);
}
html[theme=light] .navbar__link:hover, html[theme=light] .navbar__link:focus {
  background-color: var(--light-subsection-bg);
  border: 1px solid var(--light-button-bg);
}
html[theme=light] .navbar__bg {
  background-color: var(--light-main-bg);
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.navbar__link {
  font-size: 24px;
  letter-spacing: 1px;
  padding: 4px 20px;
  line-height: 150%;
  border-radius: 4px;
  -webkit-transition: background-color 0.2s, -webkit-box-shadow 0.2s;
  transition: background-color 0.2s, -webkit-box-shadow 0.2s;
  -o-transition: background-color 0.2s, box-shadow 0.2s;
  transition: background-color 0.2s, box-shadow 0.2s;
  transition: background-color 0.2s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
  margin: 1px;
}
.navbar__link:hover, .navbar__link:focus {
  margin: 0;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.navbar__link.messages {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navbar__link.notAuth {
  opacity: 0.5;
}
@media (max-width: 766px) {
  .navbar {
    z-index: 10;
    position: fixed;
    width: 220px;
    height: 100vh;
    top: 0;
    right: -100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }
  .navbar__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .navbar__blur {
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .navbar__menu {
    width: auto;
    position: absolute;
    z-index: 1;
    top: 55px;
    right: -100%;
    max-height: calc(100vh - 65px);
    overflow-y: overlay;
    z-index: 40;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }
  .navbar__link {
    z-index: 10;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    margin: 1px 1px 11px -1px;
    text-align: right;
    width: 200px;
  }
  .navbar__link:hover, .navbar__link:focus {
    margin: 0 0 10px 0;
  }
  .navbar__link.messages {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .navbar.active {
    right: 0;
    opacity: 1;
    visibility: visible;
  }
  .navbar.active .navbar__menu {
    right: 10px;
  }
}
@media (min-width: 767px) {
  .navbar__menu {
    position: fixed;
    width: 200px;
    padding: 0 15px 0 0;
  }
  .navbar__link {
    font-size: 20px;
    padding: 0px 15px;
  }
  .navbar__link:not(:last-child) {
    margin: 1px 1px 6px 1px;
  }
  .navbar__link:not(:last-child):hover, .navbar__link:not(:last-child):focus {
    margin: 0 0 5px 0;
  }
}