html[theme=dark] .news__post:not(:last-child) {
  border-bottom: var(--dark-items-border-bottom) solid 1px;
}
html[theme=dark] .news__post_more {
  color: var(--dark-button-text-color);
  background-color: var(--dark-button-bg);
}
html[theme=dark] .news__post_more:hover, html[theme=dark] .news__post_more:focus {
  background-color: var(--dark-button-bg-active);
}
html[theme=dark] .news__post_like {
  color: var(--light-button-text-color);
  background-color: var(--dark-button-bg);
}
html[theme=dark] .news__post_like:hover, html[theme=dark] .news__post_like:focus {
  background-color: var(--dark-button-bg-active);
}

html[theme=light] .news__post:not(:last-child) {
  border-bottom: var(--light-items-border-bottom) solid 1px;
}
html[theme=light] .news__post_more {
  color: var(--dark-button-text-color);
  background-color: var(--light-button-bg);
}
html[theme=light] .news__post_more:hover, html[theme=light] .news__post_more:focus {
  background-color: var(--light-button-bg-active);
}
html[theme=light] .news__post_like {
  color: var(--light-button-text-color);
  background-color: var(--light-button-bg);
}
html[theme=light] .news__post_like:hover, html[theme=light] .news__post_like:focus {
  background-color: var(--light-button-bg-active);
}

.news__loading_post {
  height: 100px;
}
.news__loading_post:not(:first-child) {
  margin: 15px 0px 0px 0px;
}
.news__posts {
  margin: -10px 0;
}
.news__posts_loading {
  margin: 30px 0px 0px 0px;
  height: 30px;
}
.news__posts_loading svg {
  position: absolute;
  left: 50%;
  bottom: 15px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 30px;
  height: 30px;
}
.news__posts_no_posts {
  padding: 10px 0;
  line-height: 150%;
  font-size: 20px;
  text-align: center;
}
.news__posts_no_posts a {
  text-decoration: underline;
}
.news__post {
  padding: 10px 0;
}
.news__post_owner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin: 0px 0px 10px 0px;
}
.news__post_owner_image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35px;
          flex: 0 0 35px;
}
.news__post_owner_image img {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 50%;
  width: 100%;
  height: 35px;
}
.news__post_owner_name {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 700;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}
.news__post_owner_name a {
  display: block;
  line-height: 35px;
}
.news__post_content_text {
  line-height: 150%;
  font-size: 16px;
}
.news__post_content_text a {
  color: var(--link-color) !important;
}
.news__post_content_text a:hover, .news__post_content_text a:focus {
  text-decoration: underline;
}
.news__post_content_images {
  margin: 0 -5px;
  display: grid;
  gap: 2px;
}
.news__post_content_images:not(:first-child) {
  margin: 10px -5px 0px;
}
.news__post_content_images .news__post_content_image {
  position: relative;
  padding: 0px 0px 100% 0px;
}
.news__post_content_images .news__post_content_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
}
.news__post_content_images.one {
  grid-template-columns: 1fr minmax(270px, 425px) 1fr;
  gap: 0;
}
.news__post_content_images.one .news__post_content_image {
  grid-column: 2/3;
}
.news__post_content_images.two {
  grid-template-columns: 1fr 1fr;
}
.news__post_content_images.three {
  grid-template-columns: 1.3333fr 0.6777fr;
}
.news__post_content_images.three .news__post_content_image:first-child {
  grid-row: span 2;
}
.news__post_content_images.four {
  grid-template-columns: 1fr 1fr;
}
.news__post_content_images.five {
  grid-template-columns: repeat(6, 1fr);
}
.news__post_content_images.five .news__post_content_image {
  grid-column: span 2;
}
.news__post_content_images.five .news__post_content_image:nth-child(1), .news__post_content_images.five .news__post_content_image:nth-child(2) {
  grid-column: span 3;
}
.news__post_content_images.six {
  grid-template-columns: 1fr 1fr 1fr;
}
.news__post_content_images.seven {
  grid-template-columns: repeat(10, 1fr);
}
.news__post_content_images.seven .news__post_content_image {
  grid-column: span 2;
}
.news__post_content_images.seven .news__post_content_image:nth-child(1), .news__post_content_images.seven .news__post_content_image:nth-child(2) {
  grid-column: span 5;
}
.news__post_content_images.eight {
  grid-template-columns: repeat(6, 1fr);
}
.news__post_content_images.eight .news__post_content_image:nth-child(1), .news__post_content_images.eight .news__post_content_image:nth-child(2) {
  grid-column: span 3;
}
.news__post_content_images.nine {
  grid-template-columns: 1fr 1fr 1fr;
}
.news__post_content_images.ten {
  grid-template-columns: repeat(8, 1fr);
}
.news__post_content_images.ten .news__post_content_image:nth-child(1), .news__post_content_images.ten .news__post_content_image:nth-child(2) {
  grid-column: span 4;
}
.news__post_more {
  background-color: transparent;
  padding: 2px 5px;
  font-size: 16px;
  border-radius: 4px;
}
.news__post_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0px 0px 0px;
  position: relative;
}
.news__post_like {
  border-radius: 4px;
  padding: 5px 10px;
  background-color: transparent;
  font-size: 16px;
}
.news__post_like svg {
  margin: 0px 5px -4px 0px;
  width: 18px;
  height: 18px;
}
.news__post_date {
  opacity: 0.7;
  font-size: 12px;
}
@media (min-width: 767px) {
  .news__post_owner {
    gap: 15px;
  }
  .news__post_owner_image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45px;
            flex: 0 0 45px;
  }
  .news__post_owner_image img {
    height: 45px;
  }
  .news__post_owner_name {
    font-size: 16px;
  }
  .news__post_owner_name a {
    display: inline-block;
    line-height: 150%;
  }
  .news__post_owner_name a:hover, .news__post_owner_name a:focus {
    text-decoration: underline;
  }
  .news__post_content_images {
    margin: 0;
  }
  .news__post_content_images:not(:first-child) {
    margin: 10px 0px 0px 0px;
  }
  .news__post_date {
    font-size: 14px;
  }
}