html[theme=dark] .news__post_more {
  color: var(--dark-text-color);
  background-color: var(--dark-subsection-bg);
  -webkit-box-shadow: var(--dark-subsection-bg) 0px -10px 10px 5px;
          box-shadow: var(--dark-subsection-bg) 0px -10px 10px 5px;
}
html[theme=dark] .news__post_more:hover, html[theme=dark] .news__post_more:focus {
  background-color: var(--dark-button-bg-active);
}
html[theme=dark] .news__post_footer_like {
  color: var(--dark-button-text-color);
  background-color: var(--dark-button-bg);
}
html[theme=dark] .news__post_footer_like * {
  color: var(--dark-button-text-color);
}
html[theme=dark] .news__post_footer_like:hover, html[theme=dark] .news__post_footer_like:focus {
  background-color: var(--dark-button-bg-active);
}
html[theme=dark] .news__post_actions_show span,
html[theme=dark] .news__post_actions_show span:before,
html[theme=dark] .news__post_actions_show span:after {
  background-color: var(--dark-text-color);
}
html[theme=dark] .news__post_actions_delete {
  color: var(--dark-button-text-color);
  background-color: var(--dark-button-bg);
}
html[theme=dark] .news__post_actions_delete * {
  color: var(--dark-button-text-color);
}
html[theme=dark] .news__post_actions_delete:hover, html[theme=dark] .news__post_actions_delete:focus {
  background-color: var(--dark-button-bg-active);
}

html[theme=light] .news__post_more {
  color: var(--light-text-color);
  background-color: var(--light-subsection-bg);
  -webkit-box-shadow: var(--light-subsection-bg) 0px -10px 10px 5px;
          box-shadow: var(--light-subsection-bg) 0px -10px 10px 5px;
}
html[theme=light] .news__post_more:hover, html[theme=light] .news__post_more:focus {
  color: var(--light-button-text-color);
  background-color: var(--light-button-bg-active);
}
html[theme=light] .news__post_footer_like {
  color: var(--light-button-text-color);
  background-color: var(--light-button-bg);
}
html[theme=light] .news__post_footer_like * {
  color: var(--light-button-text-color);
}
html[theme=light] .news__post_footer_like:hover, html[theme=light] .news__post_footer_like:focus {
  background-color: var(--light-button-bg-active);
}
html[theme=light] .news__post_actions_show span,
html[theme=light] .news__post_actions_show span:before,
html[theme=light] .news__post_actions_show span:after {
  background-color: var(--light-text-color);
}
html[theme=light] .news__post_actions_delete {
  color: var(--light-button-text-color);
  background-color: var(--light-button-bg);
}
html[theme=light] .news__post_actions_delete * {
  color: var(--light-button-text-color);
}
html[theme=light] .news__post_actions_delete:hover, html[theme=light] .news__post_actions_delete:focus {
  background-color: var(--light-button-bg-active);
}

.news__loading_post:not(:first-child) {
  margin: 15px 0px 0px 0px;
}
.news__loading_post_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin: 0px 0px 10px 0px;
}
.news__loading_post_header_image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35px;
          flex: 0 0 35px;
  border-radius: 50%;
  height: 35px;
}
.news__loading_post_header_name {
  height: 16px;
  width: 125px;
}
.news__loading_post_content {
  height: 76px;
}
.news__posts {
  margin: -10px 0;
}
.news__posts_loading {
  margin: 30px 0px 0px 0px;
  height: 30px;
}
.news__posts_loading svg {
  position: absolute;
  left: 50%;
  bottom: 15px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 30px;
  height: 30px;
}
.news__posts_no_posts {
  padding: 10px 0;
  line-height: 150%;
  font-size: 20px;
  text-align: center;
}
.news__posts_no_posts a {
  text-decoration: underline;
}
.news__post {
  position: relative;
  padding: 10px 0;
}
.news__post_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin: 0px 0px 10px 0px;
}
.news__post_header_image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35px;
          flex: 0 0 35px;
}
.news__post_header_image img {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 50%;
  width: 100%;
  height: 35px;
}
.news__post_header_name {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 700;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news__post_header_name a {
  display: block;
  line-height: 35px;
}
.news__post_header_date {
  line-height: 150%;
  opacity: 0.7;
  font-size: 12px;
}
.news__post_content_text {
  position: relative;
  line-height: 150%;
  font-size: 16px;
}
.news__post_content_text a {
  color: var(--link-color) !important;
}
.news__post_content_text a:hover, .news__post_content_text a:focus {
  text-decoration: underline;
}
.news__post_content_images {
  margin: 0 -10px;
  display: grid;
  gap: 2px;
  position: relative;
  overflow: hidden;
}
.news__post_content_images:not(:first-child) {
  margin: 10px -10px 0px;
}
.news__post_content_images .news__post_content_image {
  background-color: transparent;
  z-index: 1;
  position: relative;
  padding: 0px 0px 100% 0px;
}
.news__post_content_images .news__post_content_image img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.news__post_content_images.one {
  grid-template-columns: 1fr minmax(270px, 425px) 1fr;
  gap: 0;
}
.news__post_content_images.one .news__post_content_image {
  grid-column: 2/3;
}
.news__post_content_images.two {
  grid-template-columns: 1fr 1fr;
}
.news__post_content_images.three {
  grid-template-columns: 1.3333fr 0.6777fr;
}
.news__post_content_images.three .news__post_content_image:first-child {
  grid-row: span 2;
}
.news__post_content_images.four {
  grid-template-columns: 1fr 1fr;
}
.news__post_content_images.five {
  grid-template-columns: repeat(6, 1fr);
}
.news__post_content_images.five .news__post_content_image {
  grid-column: span 2;
}
.news__post_content_images.five .news__post_content_image:nth-child(1), .news__post_content_images.five .news__post_content_image:nth-child(2) {
  grid-column: span 3;
}
.news__post_content_images.six {
  grid-template-columns: 1fr 1fr 1fr;
}
.news__post_content_images.seven {
  grid-template-columns: repeat(10, 1fr);
}
.news__post_content_images.seven .news__post_content_image {
  grid-column: span 2;
}
.news__post_content_images.seven .news__post_content_image:nth-child(1), .news__post_content_images.seven .news__post_content_image:nth-child(2) {
  grid-column: span 5;
}
.news__post_content_images.eight {
  grid-template-columns: repeat(6, 1fr);
}
.news__post_content_images.eight .news__post_content_image:nth-child(1), .news__post_content_images.eight .news__post_content_image:nth-child(2) {
  grid-column: span 3;
}
.news__post_content_images.nine {
  grid-template-columns: 1fr 1fr 1fr;
}
.news__post_content_images.ten {
  grid-template-columns: repeat(8, 1fr);
}
.news__post_content_images.ten .news__post_content_image:nth-child(1), .news__post_content_images.ten .news__post_content_image:nth-child(2) {
  grid-column: span 4;
}
.news__post_content_images:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background: var(--post-bg-blur);
  -webkit-filter: blur(25px);
          filter: blur(25px);
}
.news__post_more {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  background-color: transparent;
  font-size: 16px;
  line-height: 150%;
  border-radius: 4px;
}
.news__post_footer_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0px 0px 0px;
  position: relative;
}
.news__post_footer_like {
  border-radius: 4px;
  padding: 5px 10px;
  background-color: transparent;
  font-size: 16px;
}
.news__post_footer_like svg {
  margin: 0px 5px -4px 0px;
  width: 18px;
  height: 18px;
}
.news__post_actions {
  width: 30px;
  height: 30px;
}
.news__post_actions_show {
  opacity: 0.7;
  background-color: transparent;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 3;
  border-radius: 4px;
}
.news__post_actions_show:hover, .news__post_actions_show:focus {
  opacity: 1;
}
.news__post_actions_show span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
.news__post_actions_show span:before,
.news__post_actions_show span:after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
.news__post_actions_show span:before {
  left: -10px;
}
.news__post_actions_show span:after {
  right: -10px;
}
.news__post_actions_delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  z-index: 2;
  position: absolute;
  width: 150px;
  left: 50%;
  top: -35px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 16px;
  line-height: 150%;
  border-radius: 4px;
  background-color: transparent;
  padding: 2px 10px;
  opacity: 0;
  visibility: hidden;
}
.news__post_actions_delete svg {
  width: 24px;
  height: 24px;
}
.news__post_actions_delete.active {
  opacity: 1;
  visibility: visible;
}
.news__post_actions svg {
  opacity: 0.7;
}
@media (min-width: 767px) {
  .news__loading_post_header {
    gap: 15px;
  }
  .news__loading_post_header_image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45px;
            flex: 0 0 45px;
    height: 45px;
  }
  .news__loading_post_header_name {
    height: 18px;
    width: 150px;
  }
  .news__loading_post_content {
    height: 90px;
  }
  .news__post_header_image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45px;
            flex: 0 0 45px;
  }
  .news__post_header_image img {
    height: 45px;
  }
  .news__post_header_name {
    font-size: 16px;
  }
  .news__post_header_name a {
    display: inline-block;
    line-height: 150%;
  }
  .news__post_header_name a:hover, .news__post_header_name a:focus {
    text-decoration: underline;
  }
  .news__post_header_date {
    font-size: 14px;
  }
  .news__post_content_images {
    border-radius: 4px;
    margin: 0;
  }
  .news__post_content_images:not(:first-child) {
    margin: 10px 0px 0px 0px;
  }
  .news__post_content_image img {
    border-radius: 4px;
  }
}