html[theme="dark"] {
	.login {
		&__input {
			background-color: var(--dark-input-bg);
		}
		&__button {
			color: var(--dark-button-text-color);
			background-color: var(--dark-button-bg);
			&:not(:disabled):hover {
				background-color: var(--dark-button-bg-active);
			}
		}
	}
}
html[theme="light"] {
	.login {
		&__input {
			background-color: var(--light-input-bg);
		}
		&__button {
			color: var(--light-button-text-color);
			background-color: var(--light-button-bg);
			&:not(:disabled):hover {
				background-color: var(--light-button-bg-active);
			}
		}
	}
}

.login {
	grid-column: span 2 !important;
	position: absolute;
	width: 260px;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	overflow: hidden;
	&__label {
		line-height: 150%;
		opacity: 0.8;
		cursor: pointer;
		display: block;
		font-size: 18px;
		padding: 0px 0px 5px 0px;
	}
	&__field {
		padding: 0 5px 5px 5px;
		margin: 0px 0px 25px 0px;
		position: relative;
	}
	&__input {
		padding: 5px 10px;
		border-radius: 4px;
		width: 100%;
		line-height: 150%;
		font-size: 18px;
		background-color: transparent;
		max-width: 250px;
		cursor: pointer;
	}
	&__incorrect {
		color: rgba(255, 0, 0, 0.87) !important;
		position: absolute;
		bottom: -14px;
	}
	&__button {
		display: block;
		width: 175px;
		font-size: 20px;
		background-color: transparent;
		padding: 10px 50px;
		margin: 30px auto 15px auto;
		border-radius: 4px;
		opacity: 0.7;
		transition: all 0.2s;
		&:not(:disabled) {
			opacity: 1;
			&:hover {
				transform: translate(-1px, -1px);
			}
			&:active {
				transform: translate(0);
			}
		}
		svg {
			width: 62px;
			height: 23px;
			margin: 0px 0px -5px 0px;
		}
	}
	&__error {
		word-wrap: break-word;
		text-align: center;
		color: rgba(255, 0, 0, 0.87) !important;
		text-transform: capitalize;
	}
	&__link {
		line-height: 150%;
		font-size: 14px;
		opacity: 0.7;
		&:hover {
			opacity: 1;
		}
	}
	&__recaptcha {
		position: absolute;
		z-index: 1;
		bottom: -10px;
		right: -1px;
		transform: translate(0) scale(0.7);
		opacity: 0.7;
	}
	@media (min-width: 767px) {
		top: 15px;
		width: 280px;
		&__input {
			font-size: 20px;
		}
	}
}

.PhoneInput {
	display: flex;
	&Input {
		width: 100%;
		line-height: 150%;
		font-size: 18px;
		background-color: transparent;
	}
	&CountryIcon {
		width: 1.5em;
		height: 1em;
	}
	&CountryIcon--square {
		width: 1em;
	}
	&CountryIcon--border {
		background-color: rgba(0, 0, 0, 0.1);
		box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.5);
	}
	&CountryIconImg {
		display: block;
		width: 100%;
		height: 100%;
	}
	&InternationalIconGlobe {
		opacity: 0.8;
	}
	&Country {
		position: relative;
		align-self: stretch;
		display: flex;
		align-items: center;
		margin-right: 0.35em;
	}
	&CountrySelect {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 1;
		border: 0;
		opacity: 0;
		cursor: pointer;
		option:checked {
			font-weight: 700;
		}
	}
	&CountrySelect[disabled],
	&CountrySelect[readonly] {
		cursor: default;
	}
	&CountrySelectArrow {
		display: block;
		content: "";
		width: 0.3em;
		height: 0.3em;
		margin-left: 0.35em;
		border-style: solid;
		border-top-width: 0;
		border-bottom-width: 1px;
		border-left-width: 0;
		border-right-width: 1px;
		transform: rotate(45deg);
	}
	@media (min-width: 767px) {
		&Input {
			font-size: 20px;
		}
	}
}
