html[theme=dark] .login__input {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
html[theme=dark] .login__input:focus {
  border-bottom: 1px solid var(--dark-text-color);
}
html[theme=dark] .login__button {
  background-color: var(--dark-button-bg);
}

html[theme=light] .login__input {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
html[theme=light] .login__input:focus {
  border-bottom: 1px solid var(--light-text-color);
}
html[theme=light] .login__button {
  background-color: var(--light-button-bg);
}

.login {
  grid-column: span 2 !important;
  position: absolute;
  width: 260px;
  top: 65px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.login__label {
  cursor: pointer;
  display: block;
  font-size: 18px;
  padding: 0px 0px 10px 0px;
}
.login__field {
  padding: 0 5px 5px 5px;
  margin: 0px 0px 25px 0px;
  position: relative;
}
.login__input {
  width: 100%;
  line-height: 150%;
  font-size: 20px;
  background-color: transparent;
  max-width: 250px;
  cursor: pointer;
}
.login__incorrect {
  font-weight: 300;
  color: rgba(255, 0, 0, 0.87) !important;
  position: absolute;
  bottom: -14px;
}
.login__button {
  display: block;
  font-size: 20px;
  background-color: transparent;
  padding: 10px 50px;
  margin: 30px auto 15px auto;
  border-radius: 4px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0.7;
}
.login__button:not(:disabled) {
  opacity: 1;
}
.login__button:not(:disabled):hover {
  -webkit-transform: translate(-1px, -1px);
      -ms-transform: translate(-1px, -1px);
          transform: translate(-1px, -1px);
}
.login__button:not(:disabled):active {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}
.login__button svg {
  width: 62px;
  height: 23px;
  margin: 0px 0px -5px 0px;
}
.login__link {
  line-height: 150%;
  font-size: 14px;
  opacity: 0.7;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.login__link:hover {
  opacity: 1;
}
.login__error {
  word-wrap: break-word;
  text-align: center;
  color: rgba(255, 0, 0, 0.87) !important;
  font-weight: 300;
  text-transform: capitalize;
}
@media (min-width: 767px) {
  .login {
    width: 280px;
  }
}

.PhoneInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.PhoneInputInput {
  width: 100%;
  line-height: 150%;
  font-size: 20px;
  background-color: transparent;
}
.PhoneInputCountryIcon {
  width: 1.5em;
  height: 1em;
}
.PhoneInputCountryIcon--square {
  width: 1em;
}
.PhoneInputCountryIcon--border {
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.PhoneInputCountryIconImg {
  display: block;
  width: 100%;
  height: 100%;
}
.PhoneInputInternationalIconGlobe {
  opacity: 0.8;
}
.PhoneInputCountry {
  position: relative;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.35em;
}
.PhoneInputCountrySelect {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  border: 0;
  opacity: 0;
  cursor: pointer;
}
.PhoneInputCountrySelect option:checked {
  font-weight: 700;
}
.PhoneInputCountrySelect[disabled], .PhoneInputCountrySelect[readonly] {
  cursor: default;
}
.PhoneInputCountrySelectArrow {
  display: block;
  content: "";
  width: 0.3em;
  height: 0.3em;
  margin-left: 0.35em;
  border-style: solid;
  border-top-width: 0;
  border-bottom-width: 1px;
  border-left-width: 0;
  border-right-width: 1px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}