html[theme="dark"] {
	.users {
		&__loading {
			&_item:not(:last-child) {
				border-bottom: var(--dark-items-border-bottom) solid 1px;
			}
		}
		&__search {
			background-color: var(--dark-input-bg);
			&_button {
				color: var(--dark-button-text-color);
				background-color: var(--dark-button-bg);
				&:hover {
					background-color: var(--dark-button-bg-active);
				}
			}
		}
		&__user {
			&:not(:last-child) {
				border-bottom: var(--dark-items-border-bottom) solid 1px;
			}
			&_showactions {
				background-color: var(--dark-subsection-bg);
				span,
				span:before,
				span:after {
					background-color: var(--dark-button-bg);
				}
			}
			&_follow {
				color: var(--dark-button-text-color);
				background-color: var(--dark-button-bg);
				&:hover {
					background-color: var(--dark-button-bg-active);
				}
			}
		}
	}
}
html[theme="light"] {
	.users {
		&__loading {
			&_item:not(:last-child) {
				border-bottom: var(--light-items-border-bottom) solid 1px;
			}
		}
		&__search {
			background-color: var(--light-input-bg);
			&_button {
				color: var(--light-button-text-color);
				background-color: var(--light-button-bg);
				&:hover {
					background-color: var(--light-button-bg-active);
				}
			}
		}
		&__user {
			&:not(:last-child) {
				border-bottom: var(--light-items-border-bottom) solid 1px;
			}
			&_showactions {
				background-color: var(--light-subsection-bg);
				span,
				span:before,
				span:after {
					background-color: var(--light-button-bg);
				}
			}
			&_follow {
				color: var(--light-button-text-color);
				background-color: var(--light-button-bg);
				&:hover {
					background-color: var(--light-button-bg-active);
				}
			}
		}
	}
}

.users {
	&__loading {
		&_search {
			height: 40px;
			width: 100%;
			margin: 0px 0px 15px 0px;
		}
		&_items {
			margin: -10px 0px 0px 0px;
		}
		&_item {
			display: flex;
			align-items: center;
			padding: 10px 0;
			gap: 10px;
			position: relative;
		}
		&_image {
			flex: 0 0 50px;
			height: 50px;
			border-radius: 50%;
		}
		&_info {
			flex: 1 1 auto;
			height: 50px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 5px;
		}
		&_name {
			width: 125px;
			height: 14px;
			overflow: hidden;
		}
		&_location {
			display: none;
		}
		&_actions {
			flex: 0 0 30px;
			height: 10px;
		}
	}
	&__search {
		padding: 5px 10px;
		border-radius: 4px;
		margin: 0px 0px 15px 0px;
		display: flex;
		gap: 10px;
		height: 40px;
		&_input {
			flex: 1 1 auto;
			line-height: 150%;
			font-size: 16px;
			background-color: transparent;
			cursor: pointer;
			border-radius: 0px;
			overflow: hidden;
		}
		&_button {
			flex: 0 0 70px;
			display: inline-block;
			font-size: 20px;
			background-color: transparent;
			padding: 5px 15px;
			border-radius: 4px;
			transition: all 0.2s;
		}
	}
	&__no_items {
		opacity: 0.7;
		line-height: 150%;
		text-align: center;
		font-size: 20px;
	}
	&__items {
		margin: -10px 0;
		&_loading {
			margin: 30px 0px 0px 0px;
			height: 30px;
			svg {
				position: absolute;
				left: 50%;
				bottom: 15px;
				transform: translateX(-50%);
				width: 30px;
				height: 30px;
			}
		}
	}
	&__user {
		padding: 10px 0px 10px 0px;
		display: flex;
		align-items: center;
		gap: 10px;
		position: relative;
		line-height: 150%;
		&_image {
			flex: 0 0 50px;
			height: 50px;
			display: block;
			img {
				pointer-events: none;
				user-select: none;
				border-radius: 50%;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			&.online {
				img {
					padding: 2px;
					border: 2px solid rgba(0, 255, 0, 0.7);
				}
			}
		}
		&_info {
			flex: 1 1 auto;
			height: 50px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 5px;
			white-space: nowrap;
			overflow: hidden;
		}
		&_name {
			font-weight: 700;
			font-size: 14px;
			a {
				overflow: hidden;
				text-overflow: ellipsis;
				display: block;
				padding: 15px 0;
				width: 100%;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		&_location {
			display: none;
		}
		&_actions {
			flex: 0 0 30px;
		}
		&_showactions {
			opacity: 0.7;
			&:hover {
				opacity: 1;
			}
			width: 30px;
			height: 30px;
			background-color: transparent;
			position: relative;
			z-index: 3;
			border-radius: 4px;
			span {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 5px;
				height: 5px;
				border-radius: 50%;
			}
			span:before,
			span:after {
				content: "";
				position: absolute;
				width: 5px;
				height: 5px;
				border-radius: 50%;
			}
			span:before {
				left: -10px;
			}
			span:after {
				right: -10px;
			}
		}
		&_follow {
			z-index: 2;
			position: absolute;
			width: 150px;
			right: 35px;
			top: 50%;
			transform: translateY(-50%);
			font-size: 16px;
			border-radius: 4px;
			background-color: transparent;
			padding: 5px 10px;
			svg {
				margin: 0px 0px -4px 0px;
				width: 85px;
				height: 18px;
			}
			opacity: 0;
			visibility: hidden;
			&.active {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	@media (min-width: 767px) {
		&__loading {
			gap: 15px;
			&_image {
				flex: 0 0 75px;
				height: 75px;
			}
			&_info {
				height: 75px;
			}
			&_name {
				height: 16px;
			}
			&_location {
				display: block;
				width: 100px;
				height: 13px;
			}
		}
		&__search {
			padding: 5px 15px;
			gap: 15px;
			&_input {
				font-size: 18px;
			}
		}
		&__user {
			gap: 15px;
			&_image {
				flex: 0 0 75px;
				height: 75px;
			}
			&_info {
				height: 75px;
			}
			&_name {
				font-size: 16px;
				a {
					display: inline;
					padding: 0;
				}
			}
			&_location {
				display: flex;
				gap: 5px;
				opacity: 0.7;
				font-size: 14px;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}
