html[theme="dark"] {
	.header {
		background-color: var(--dark-subsection-bg);
		border-bottom: 1px solid var(--dark-button-bg);
		&__burger {
			&:before,
			&:after {
				content: "";
				background-color: var(--dark-text-color);
			}
			span {
				background-color: var(--dark-text-color);
			}
		}
	}
}

html[theme="light"] {
	.header {
		background-color: var(--light-subsection-bg);
		border-bottom: 1px solid var(--light-button-bg);
		&__burger {
			&:before,
			&:after {
				content: "";
				background-color: var(--light-text-color);
			}
			span {
				background-color: var(--light-text-color);
			}
		}
	}
}

.header {
	transition: background-color 0s;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	z-index: 50;
	position: fixed;
	width: 100%;
	padding: 5px env(safe-area-inset-right) 5px env(safe-area-inset-left);
	height: 45px;
	display: grid;
	grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
	&__menu {
		height: 35px;
		grid-column: 2/3;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		padding: 0 10px;
	}
	&__user {
		img {
			pointer-events: none;
			user-select: none;
			width: 35px;
			height: 35px;
			border-radius: 50%;
			object-fit: cover;
		}
	}
	&__login {
		text-transform: uppercase;
		font-size: 20px;
		line-height: 40px;
	}
	&__logo {
		font-size: 22px;
		letter-spacing: 2px;
		line-height: 150%;
		font-weight: 700;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		span {
			opacity: 0.7;
		}
	}
	&__burger {
		z-index: 50;
		display: block;
		cursor: pointer;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 10px;
		width: 30px;
		height: 24px;
		&:before,
		&:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
			border-radius: 8px;
			transition: all 0.2s ease;
		}
		&:before {
			top: 0;
		}
		&:after {
			bottom: 0;
		}
		span {
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
			border-radius: 8px;
			top: 50%;
			transform: translateY(-50%);
			transition: all 0.2s ease;
		}
		&.active:before {
			transform: rotate(45deg);
			top: 11px;
		}
		&.active:after {
			transform: rotate(-45deg);
			bottom: 11px;
		}
		&.active span {
			transform: scale(0);
		}
	}
	@media (min-width: 767px) {
		height: 50px;
		&__logo {
			font-size: 24px;
			letter-spacing: 4px;
		}
		&__burger {
			display: none;
		}
		&__menu {
			height: 40px;
			padding: 0 15px;
		}
		&__user {
			img {
				width: 40px;
				height: 40px;
			}
		}
	}
}
