html[theme=dark] .settings__item:not(:last-child) {
  border-bottom: var(--dark-items-border-bottom) solid 1px;
}
html[theme=dark] .settings__button {
  stroke: var(--dark-button-text-color);
  color: var(--dark-button-text-color);
  background-color: var(--dark-button-bg);
}
html[theme=dark] .settings__button:hover {
  background-color: var(--dark-button-bg-active);
}
html[theme=dark] .settings__delete_input {
  background-color: var(--dark-input-bg);
}
html[theme=dark] .settings__delete_button {
  background-color: var(--dark-button-bg);
}
html[theme=dark] .settings__donation {
  background-color: var(--dark-button-bg);
}
html[theme=dark] .settings__donation:hover {
  background-color: var(--dark-button-bg-active);
}

html[theme=light] .settings__item:not(:last-child) {
  border-bottom: var(--light-items-border-bottom) solid 1px;
}
html[theme=light] .settings__button {
  stroke: var(--light-button-text-color);
  color: var(--light-button-text-color);
  background-color: var(--light-button-bg);
}
html[theme=light] .settings__button:hover {
  background-color: var(--light-button-bg-active);
}
html[theme=light] .settings__delete_input {
  background-color: var(--light-input-bg);
}
html[theme=light] .settings__delete_button {
  background-color: var(--light-button-bg);
}
html[theme=light] .settings__donation {
  background-color: var(--light-button-bg);
}
html[theme=light] .settings__donation:hover {
  background-color: var(--light-button-bg-active);
}

.settings__item {
  padding: 10px 0;
}
.settings__item:first-child {
  padding: 0px 0px 10px 0px;
}
.settings__item:last-child {
  padding: 10px 0px 0px 0px;
}
.settings__category {
  line-height: 150%;
  font-size: 20px;
  font-weight: 700;
}
.settings__button {
  margin: 15px 0px 0px 0px;
  cursor: pointer;
  background-color: transparent;
  font-size: 18px;
  padding: 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  border-radius: 4px;
  height: 28px;
  position: relative;
}
.settings__button_beta {
  font-size: 14px;
  opacity: 0.7;
  position: absolute;
  right: -5px;
  bottom: 0;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}
.settings__button svg {
  margin: -5px 0;
  width: 23px;
  height: 23px;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.settings__button:hover path {
  stroke-width: 2px;
}
.settings__button.disabled {
  opacity: 0.7;
}
.settings__delete_title {
  line-height: 1;
  font-size: 22px;
}
.settings__delete_close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
}
.settings__delete_close svg {
  width: 30px;
  height: 30px;
}
.settings__delete_label {
  cursor: pointer;
  display: block;
  font-size: 18px;
  padding: 0px 0px 10px 0px;
}
.settings__delete_field {
  padding: 0 5px 5px 5px;
  margin: 0px 0px 25px 0px;
  position: relative;
}
.settings__delete_input {
  padding: 5px 10px;
  border-radius: 4px;
  width: 100%;
  line-height: 150%;
  font-size: 18px;
  background-color: transparent;
  max-width: 250px;
  cursor: pointer;
}
.settings__delete_incorrect {
  color: rgba(255, 0, 0, 0.87) !important;
  position: absolute;
  bottom: -14px;
}
.settings__delete_button {
  display: block;
  width: 175px;
  font-size: 20px;
  background-color: transparent;
  padding: 10px 50px;
  margin: 30px auto 15px auto;
  border-radius: 4px;
  opacity: 0.7;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  background-color: rgba(255, 0, 0, 0.6) !important;
  color: #fff !important;
}
.settings__delete_button:not(:disabled) {
  opacity: 1;
}
.settings__delete_button:not(:disabled):hover {
  -webkit-transform: translate(-1px, -1px);
      -ms-transform: translate(-1px, -1px);
          transform: translate(-1px, -1px);
  background-color: red !important;
}
.settings__delete_button:not(:disabled):active {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}
.settings__delete_button svg {
  width: 62px;
  height: 23px;
  margin: 0px 0px -5px 0px;
}
.settings__delete_button svg circle {
  stroke: #fff !important;
}
.settings__delete_error {
  word-wrap: break-word;
  text-align: center;
  color: rgba(255, 0, 0, 0.87) !important;
  text-transform: capitalize;
}
.settings__copy {
  line-height: 150%;
  font-size: 18px;
  margin: 15px 0 0 0;
}
.settings__donation {
  border-radius: 4px;
  margin: 15px 0px 0px 0px;
  background-color: transparent;
}
.settings__donation img {
  margin: 3px;
  height: 45px;
  border-radius: 4px;
}
.settings__topdonations_title {
  font-size: 18px;
  margin: 15px 0px 0px 0px;
}
.settings__topdonations_items {
  max-width: 280px;
  margin: 10px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.settings__topdonations_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.settings__topdonations_image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
}
.settings__topdonations_image img {
  width: 100%;
  height: 30px;
  border-radius: 50%;
}
.settings__topdonations_name {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 700;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}
.settings__topdonations_value {
  white-space: nowrap;
}
@media (min-width: 767px) {
  .settings__delete_input {
    font-size: 20px;
  }
}