html[theme=dark] .profile__actions > a,
html[theme=dark] .profile__actions > button {
  color: var(--dark-button-text-color);
  background-color: var(--dark-button-bg);
}
html[theme=dark] .profile__actions > a:hover,
html[theme=dark] .profile__actions > button:hover {
  background-color: var(--dark-button-bg-active);
}
html[theme=dark] .profile__edit_input {
  background-color: var(--dark-input-bg);
}
html[theme=dark] .profile__edit_button {
  color: var(--dark-button-text-color);
  background-color: var(--dark-button-bg);
}
html[theme=dark] .profile__edit_button:not(:disabled):hover {
  background-color: var(--dark-button-bg-active);
}
html[theme=dark] .profile__posts_input {
  border: 2px solid var(--dark-button-bg);
}
html[theme=dark] .profile__posts_send circle {
  stroke: var(--dark-text-color);
}
html[theme=dark] .profile__posts_send:not(:disabled):hover {
  background-color: var(--dark-button-bg-active);
}
html[theme=dark] .profile__posts_send:not(:disabled):hover circle {
  stroke: var(--dark-button-text-color);
}
html[theme=dark] .profile__posts_send:not(:disabled):hover path {
  fill: var(--dark-button-text-color);
}
html[theme=dark] .profile__post:not(:last-child) {
  border-bottom: var(--dark-items-border-bottom) solid 1px;
}
html[theme=dark] .profile__post_more {
  background-color: var(--dark-button-bg);
}
html[theme=dark] .profile__post_like {
  color: var(--dark-button-text-color);
  background-color: var(--dark-button-bg);
}
html[theme=dark] .profile__post_like:hover {
  background-color: var(--dark-button-bg-active);
}
html[theme=dark] .profile__post_showactions {
  background-color: var(--dark-subsection-bg);
}
html[theme=dark] .profile__post_showactions span,
html[theme=dark] .profile__post_showactions span:before,
html[theme=dark] .profile__post_showactions span:after {
  background-color: var(--dark-button-bg);
}
html[theme=dark] .profile__post_delete {
  color: var(--dark-button-text-color);
  background-color: var(--dark-button-bg);
}
html[theme=dark] .profile__post_delete:hover {
  background-color: var(--dark-button-bg-active);
}

html[theme=light] .profile__actions > a,
html[theme=light] .profile__actions > button {
  color: var(--light-button-text-color);
  background-color: var(--light-button-bg);
}
html[theme=light] .profile__actions > a:hover,
html[theme=light] .profile__actions > button:hover {
  background-color: var(--light-button-bg-active);
}
html[theme=light] .profile__edit_input {
  background-color: var(--light-input-bg);
}
html[theme=light] .profile__edit_button {
  color: var(--light-button-text-color);
  background-color: var(--light-button-bg);
}
html[theme=light] .profile__edit_button:not(:disabled):hover {
  background-color: var(--light-button-bg-active);
}
html[theme=light] .profile__posts_input {
  border: 2px solid var(--light-button-bg);
}
html[theme=light] .profile__posts_send circle {
  stroke: var(--light-text-color);
}
html[theme=light] .profile__posts_send:not(:disabled):hover {
  background-color: var(--light-button-bg-active);
}
html[theme=light] .profile__posts_send:not(:disabled):hover circle {
  stroke: var(--light-button-text-color);
}
html[theme=light] .profile__posts_send:not(:disabled):hover path {
  fill: var(--light-button-text-color);
}
html[theme=light] .profile__post:not(:last-child) {
  border-bottom: var(--light-items-border-bottom) solid 1px;
}
html[theme=light] .profile__post_more {
  background-color: var(--light-button-bg);
}
html[theme=light] .profile__post_like {
  color: var(--light-button-text-color);
  background-color: var(--light-button-bg);
}
html[theme=light] .profile__post_like:hover {
  background-color: var(--light-button-bg-active);
}
html[theme=light] .profile__post_showactions {
  background-color: var(--light-subsection-bg);
}
html[theme=light] .profile__post_showactions span,
html[theme=light] .profile__post_showactions span:before,
html[theme=light] .profile__post_showactions span:after {
  background-color: var(--light-button-bg);
}
html[theme=light] .profile__post_delete {
  color: var(--light-button-text-color);
  background-color: var(--light-button-bg);
}
html[theme=light] .profile__post_delete:hover {
  background-color: var(--light-button-bg-active);
}

.profile__loading_image {
  margin: 0px auto 15px auto;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.profile__loading_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.profile__loading_name {
  width: 200px;
  height: 33px;
  margin: 0 auto;
}
.profile__loading_location {
  width: 150px;
  height: 21px;
}
.profile__loading_actions {
  margin: 15px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.profile__loading_actions div {
  width: 100%;
  height: 30px;
}
.profile__loading_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 10px;
}
.profile__loading_about p {
  height: 24px;
  width: 100px;
}
.profile__loading_posts {
  position: relative;
}
.profile__loading_posts_input {
  width: calc(100% - 50px);
  height: 50px;
}
.profile__loading_posts_send {
  position: absolute;
  top: 7.5px;
  right: 0;
  width: 35px;
  height: 35px;
}
.profile__loading_post {
  margin: 15px 0px 0px 0px;
  height: 76px;
}
.profile__not_found {
  font-size: 26px;
  text-align: center;
}
.profile__user {
  position: relative;
  text-align: center;
}
.profile__user_image {
  margin: 0px 0px 15px 0px;
}
.profile__user_image img {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.profile__user_image.online img {
  border: 2px solid rgba(0, 255, 0, 0.7);
}
.profile__user_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.profile__user_name {
  font-size: 22px;
  line-height: 150%;
  font-weight: 700;
}
.profile__user_location {
  font-size: 14px;
  line-height: 150%;
  opacity: 0.7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.profile__actions {
  margin: 15px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.profile__actions > a,
.profile__actions > button {
  line-height: 100%;
  display: inline-block;
  padding: 5px 15px;
  background-color: transparent;
  font-size: 20px;
  border-radius: 4px;
  width: 100%;
  text-align: center;
}
.profile__actions_follow svg {
  margin: -1px 0px -5px 0px;
  width: 85px;
  height: 23px;
}
.profile__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 10px;
}
.profile__about_link {
  text-align: center;
  border-radius: 4px;
  display: inline-block;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 150%;
}
.profile__about_link:hover {
  text-decoration: underline;
}
.profile__edit_title {
  line-height: 1;
  font-size: 22px;
}
.profile__edit_close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
}
.profile__edit_close svg {
  width: 30px;
  height: 30px;
}
.profile__edit_field {
  padding: 0 5px 5px 5px;
  margin: 0px 0px 25px 0px;
  position: relative;
}
.profile__edit_label {
  line-height: 150%;
  opacity: 0.8;
  cursor: pointer;
  display: block;
  font-size: 18px;
  padding: 0px 0px 5px 0px;
}
.profile__edit_label.row {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}
.profile__edit_label span {
  line-height: 50px;
}
.profile__edit_label img {
  pointer-events: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.profile__edit_label p {
  margin: -5px 0px 0px 0px;
  opacity: 0.5;
  font-size: 16px;
}
.profile__edit_input {
  padding: 5px 10px;
  border-radius: 4px;
  width: 100%;
  line-height: 150%;
  font-size: 18px;
  background-color: transparent;
  max-width: 250px;
  cursor: pointer;
}
.profile__edit_incorrect {
  color: rgba(255, 0, 0, 0.87) !important;
  position: absolute;
  bottom: -14px;
}
.profile__edit_error {
  word-wrap: break-word;
  text-align: center;
  color: rgba(255, 0, 0, 0.87) !important;
  text-transform: capitalize;
}
.profile__edit_button {
  display: block;
  font-size: 20px;
  background-color: transparent;
  padding: 10px 50px;
  margin: 30px auto 0px;
  border-radius: 4px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0.7;
}
.profile__edit_button:not(:disabled) {
  opacity: 1;
}
.profile__edit_button:not(:disabled):hover {
  -webkit-transform: translate(-1px, -1px);
      -ms-transform: translate(-1px, -1px);
          transform: translate(-1px, -1px);
}
.profile__edit_button:not(:disabled):active {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}
.profile__edit_button svg {
  width: 45.5px;
  height: 23px;
  margin: 0px 0px -5px 0px;
}
.profile__posts {
  overflow-wrap: break-word;
  position: relative;
}
.profile__posts_input {
  border-radius: 4px;
  resize: none;
  display: inline-block;
  font-size: 16px;
  line-height: 26px;
  background-color: transparent;
  padding: 10px 50px 10px 10px;
  width: calc(100% - 50px);
  overflow: auto;
  height: 50px;
}
.profile__posts_send {
  position: absolute;
  top: 5px;
  right: 0;
  font-size: 0;
  opacity: 0.3;
  border-radius: 4px;
  background-color: transparent;
}
.profile__posts_send #addPostArrow {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.profile__posts_send:not(:disabled) {
  opacity: 1;
}
.profile__posts_send svg {
  width: 40px;
  height: 40px;
}
.profile__posts_cancel {
  position: absolute;
  right: 61px;
  top: 10px;
  background-color: transparent;
  width: 30px;
  height: 30px;
  opacity: 0.7;
}
.profile__posts_cancel:hover {
  opacity: 1;
}
.profile__posts_cancel svg {
  width: 30px;
  height: 30px;
}
.profile__posts_loading {
  margin: 30px 0px 0px 0px;
  height: 30px;
}
.profile__posts_loading svg {
  position: absolute;
  left: 50%;
  bottom: 15px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 30px;
  height: 30px;
}
.profile__post:first-child:not(:last-child) {
  padding: 0px 0px 10px 0px;
}
.profile__post:last-child:not(:first-child) {
  padding: 10px 0px 0px 0px;
}
.profile__post:not(:last-child):not(:first-child) {
  padding: 10px 0px 10px 0px;
}
.profile__post_content {
  line-height: 150%;
  font-size: 16px;
}
.profile__post_more {
  background-color: transparent;
  padding: 2px 5px;
  font-size: 16px;
  border-radius: 4px;
}
.profile__post_more:hover {
  text-decoration: underline;
}
.profile__post_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0px 0px 0px;
  position: relative;
}
.profile__post_like {
  border-radius: 4px;
  padding: 5px 10px;
  background-color: transparent;
  font-size: 16px;
}
.profile__post_like svg {
  margin: 0px 5px -4px 0px;
  width: 18px;
  height: 18px;
}
.profile__post_showactions {
  opacity: 0.3;
  width: 28px;
  height: 28px;
  background-color: transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 4px;
}
.profile__post_showactions:hover {
  opacity: 1;
}
.profile__post_showactions span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
.profile__post_showactions span:before,
.profile__post_showactions span:after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
.profile__post_showactions span:before {
  left: -9px;
}
.profile__post_showactions span:after {
  right: -9px;
}
.profile__post_delete {
  z-index: 2;
  position: absolute;
  width: 150px;
  right: 35px;
  bottom: 33px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 16px;
  border-radius: 4px;
  background-color: transparent;
  padding: 5px 10px;
  opacity: 0;
  visibility: hidden;
}
.profile__post_delete svg {
  margin: 0px 0px -5px 0px;
  width: 85px;
  height: 18px;
}
.profile__post_delete.active {
  opacity: 1;
  visibility: visible;
}
.profile__post_date {
  opacity: 0.7;
  font-size: 12px;
}
@media (min-width: 767px) {
  .profile__loading_user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .profile__loading_actions {
    gap: 15px;
  }
  .profile__loading_actions div {
    width: 175px;
  }
  .profile__loading_info {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .profile__loading_image {
    margin: 0px 30px 0px 0px;
    width: 150px;
    height: 150px;
  }
  .profile__loading_name {
    height: 36px;
    width: 220px;
    margin: 0;
  }
  .profile__loading_location {
    height: 24px;
  }
  .profile__loading_post {
    height: 90px;
  }
  .profile__user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
  .profile__user_image {
    margin: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 150px;
            flex: 0 0 150px;
  }
  .profile__user_image img {
    width: 100%;
    height: 150px;
  }
  .profile__user_name {
    font-size: 24px;
  }
  .profile__user_location {
    font-size: 16px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .profile__actions {
    gap: 15px;
  }
  .profile__actions a,
  .profile__actions button:not(.profile__edit_close) {
    width: 175px;
  }
  .profile__edit_input {
    font-size: 20px;
  }
  .profile__post_date {
    font-size: 14px;
  }
}