html[theme=dark] .not-exist:before {
  background-color: var(--dark-subsection-bg);
}

html[theme=light] .not-exist:before {
  background-color: var(--light-subsection-bg);
}

.not-exist {
  text-align: center;
  z-index: 500;
  font-size: 50px;
  position: fixed;
  top: 50vh;
  left: 50vw;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.not-exist a {
  font-size: 24px;
}
.not-exist a:hover {
  text-decoration: underline;
}
.not-exist:before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: calc(-50vh + 50%);
  left: calc(-50vw + 50%);
  z-index: -1;
}