html[theme="dark"] {
	.navbar {
		&__link {
			&:hover {
				background-color: var(--dark-subsection-bg);
				border: 1px solid var(--dark-text-color);
			}
		}
		@media (max-width: 766px) {
			background-color: var(--dark-main-bg);
		}
	}
}

html[theme="light"] {
	.navbar {
		&__link {
			&:hover {
				background-color: var(--light-subsection-bg);
				border: 1px solid var(--light-text-color);
			}
		}
		@media (max-width: 766px) {
			background-color: var(--light-main-bg);
		}
	}
}

.navbar {
	&__menu {
		display: flex;
		flex-direction: column;
	}
	&__link {
		font-size: 24px;
		letter-spacing: 1px;
		padding: 10px 20px;
		line-height: 24px;
		border-radius: 4px;
		transition: background-color 0.2s, box-shadow 0.2s;
		margin: 1px;
		&:hover {
			margin: 0;
			box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
		}
		&.active {
			font-weight: 700;
		}
	}
	@media (max-width: 766px) {
		z-index: 10;
		position: fixed;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
		transition: all 0.4s;
		&.active {
			opacity: 1;
			visibility: visible;
		}
		&__menu {
			width: 100%;
			position: fixed;
			overflow-y: overlay;
			max-height: calc(100vh - 80px);
			z-index: 40;
			top: -100vh;
			transition: all 0.4s;
			&.active {
				top: 55px;
			}
		}
		&__link {
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			margin: 1px 1px 11px 1px;
			&:hover {
				margin: 0 0 10px 0;
			}
			text-align: center;
			width: 220px;
		}
	}
	@media (min-width: 767px) {
		&__menu {
			position: fixed;
			width: 200px;
			padding: 0 15px 0 0;
		}
		&__link {
			font-size: 22px;
			padding: 5px 15px;
		}
	}
}
