html[theme="dark"] {
	.profile {
		&__actions {
			& > a,
			> button {
				color: var(--dark-button-text-color);
				background-color: var(--dark-button-bg);
				&:hover,
				&:focus {
					background-color: var(--dark-button-bg-active);
				}
			}
		}
		&__about {
			&_user {
				&_image {
					img {
						border: 2px solid var(--dark-subsection-bg);
					}
				}
			}
			@media (min-width: 767px) {
				&_user {
					&_image {
						img {
							border: 0;
						}
					}
					&:hover,
					&:focus {
						background-color: var(--dark-input-bg);
					}
				}
			}
		}
		&__posts {
			&_input {
				&_field {
					border: 2px solid var(--dark-button-bg);
					&:focus {
						border: 2px solid var(--dark-button-bg-active);
					}
				}
				&_send {
					circle {
						stroke: var(--dark-text-color);
					}
					&:not(:disabled):hover,
					&:focus {
						circle {
							stroke: var(--dark-button-text-color);
						}
						path {
							fill: var(--dark-button-text-color);
						}
						background-color: var(--dark-button-bg-active);
					}
				}
			}
		}
		&__post {
			&:not(:last-child) {
				border-bottom: var(--dark-items-border-bottom) solid 1px;
			}
			&_more {
				color: var(--dark-button-text-color);
				background-color: var(--dark-button-bg);
				&:hover,
				&:focus {
					background-color: var(--dark-button-bg-active);
				}
			}
			&_like {
				color: var(--dark-button-text-color);
				* {
					color: var(--dark-button-text-color);
				}
				background-color: var(--dark-button-bg);
				&:hover,
				&:focus {
					background-color: var(--dark-button-bg-active);
				}
			}
			&_actions {
				&_show {
					span,
					span:before,
					span:after {
						background-color: var(--dark-button-bg);
					}
				}
				&_delete {
					* {
						color: var(--dark-button-text-color);
					}
					color: var(--dark-button-text-color);
					background-color: var(--dark-button-bg);
					&:hover,
					&:focus {
						background-color: var(--dark-button-bg-active);
					}
				}
			}
		}
	}
}
html[theme="light"] {
	.profile {
		&__actions {
			& > a,
			> button {
				color: var(--light-button-text-color);
				background-color: var(--light-button-bg);
				&:hover,
				&:focus {
					background-color: var(--light-button-bg-active);
				}
			}
		}
		&__about {
			&_user {
				&_image {
					img {
						border: 2px solid var(--light-subsection-bg);
					}
				}
			}
			@media (min-width: 767px) {
				&_user {
					&_image {
						img {
							border: 0;
						}
					}
					&:hover,
					&:focus {
						background-color: var(--light-input-bg);
					}
				}
			}
		}
		&__posts {
			&_input {
				&_field {
					border: 2px solid var(--light-button-bg);
					&:focus {
						border: 2px solid var(--light-button-bg-active);
					}
				}
				&_send {
					circle {
						stroke: var(--light-text-color);
					}
					&:not(:disabled):hover,
					&:focus {
						circle {
							stroke: var(--light-button-text-color);
						}
						path {
							fill: var(--light-button-text-color);
						}
						background-color: var(--light-button-bg-active);
					}
				}
			}
		}
		&__post {
			&:not(:last-child) {
				border-bottom: var(--light-items-border-bottom) solid 1px;
			}
			&_more {
				color: var(--light-button-text-color);
				background-color: var(--light-button-bg);
				&:hover,
				&:focus {
					background-color: var(--light-button-bg-active);
				}
			}
			&_like {
				color: var(--light-button-text-color);
				* {
					color: var(--light-button-text-color);
				}
				background-color: var(--light-button-bg);
				&:hover,
				&:focus {
					background-color: var(--light-button-bg-active);
				}
			}
			&_actions {
				&_show {
					span,
					span:before,
					span:after {
						background-color: var(--light-button-bg);
					}
				}
				&_delete {
					* {
						color: var(--light-button-text-color);
					}
					color: var(--light-button-text-color);
					background-color: var(--light-button-bg);
					&:hover,
					&:focus {
						background-color: var(--light-button-bg-active);
					}
				}
			}
		}
	}
}

.profile {
	&__loading {
		&_image {
			margin: 0px auto 15px auto;
			pointer-events: none;
			user-select: none;
			width: 100px;
			height: 100px;
			border-radius: 50% !important;
		}
		&_info {
			display: flex;
			flex-direction: column;
			gap: 5px;
			align-items: center;
		}
		&_name {
			width: 200px;
			height: 33px;
			margin: 0 auto;
		}
		&_location {
			width: 150px;
			height: 21px;
		}
		&_actions {
			margin: 15px 0px 0px 0px;
			display: flex;
			gap: 10px;
			div {
				width: 100%;
				height: 30px;
			}
		}
		&_about {
			display: flex;
			justify-content: space-between;
			&_links {
				p {
					height: 24px;
					width: 100px;
					display: none;
					&:first-child {
						display: block;
					}
				}
			}
			&_users {
				display: flex;
			}
			&_user {
				&:first-child {
					.profile__loading_about_user_image {
						width: 165px;
						height: 25px;
					}
				}
			}
		}
		&_posts {
			position: relative;
			&_input {
				width: calc(100% - 50px);
				height: 50px;
			}
			&_send {
				position: absolute;
				top: 7.5px;
				right: 0;
				width: 35px;
				height: 35px;
			}
		}
		&_post {
			&:not(:first-child) {
				margin: 15px 0px 0px 0px;
			}
			height: 76px;
		}
	}
	&__not_found {
		line-height: 150%;
		font-size: 20px;
		text-align: center;
	}
	// &__cover {
	// 	margin: -10px -10px 0px;
	// 	position: relative;
	// 	padding: 0px 0px 27% 0px;
	// 	img {
	// 		width: 100%;
	// 		height: 100%;
	// 		object-fit: cover;
	// 		position: absolute;
	// 		top: 0;
	// 		left: 0;
	// 	}
	// }
	&__user {
		// margin: -50px 0px 0px 0px;
		position: relative;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
		gap: 15px;
		&_image {
			position: relative;
			img {
				// border: 4px solid var(--dark-subsection-bg);
				pointer-events: none;
				user-select: none;
				width: 100px;
				height: 100px;
				object-fit: cover;
				border-radius: 50%;
			}
		}
		&_info {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 5px;
		}
		&_name {
			font-size: 22px;
			line-height: 150%;
			font-weight: 700;
		}
		&_location {
			font-size: 14px;
			line-height: 150%;
			opacity: 0.7;
		}
	}
	&__actions {
		margin: 15px 0px 0px 0px;
		display: flex;
		gap: 10px;
		& > a,
		> button {
			line-height: 100%;
			display: inline-block;
			padding: 5px 15px;
			background-color: transparent;
			font-size: 20px;
			border-radius: 4px;
			width: 100%;
			text-align: center;
		}
		&_follow {
			svg {
				margin: -3px 0px -3px 0px;
				width: 85px;
				height: 23px;
			}
		}
	}
	&__about {
		display: flex;
		justify-content: space-between;
		&_links {
			display: flex;
			justify-content: space-around;
		}
		&_link {
			&:nth-child(2),
			&:nth-child(3) {
				display: none;
			}
			font-weight: 700;
			text-align: center;
			display: inline-block;
			font-size: 16px;
			line-height: 150%;
			span {
				opacity: 0.7;
			}
		}
		&_users {
			display: flex;
		}
		&_user {
			width: 25px;
			&:not(:last-child) {
				margin: 0px -5px 0px 0px;
			}
			&_image {
				position: relative;
				padding: 0px 0px 100% 0px;
				img {
					user-select: none;
					pointer-events: none;
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: 50%;
					position: absolute;
					top: 0;
					left: 0;
				}
			}
			&_online {
				display: none;
			}
			&_name {
				display: none;
			}
		}
	}
	&__edit {
		&_title {
			line-height: 1;
			font-size: 22px;
		}
		&_close {
			position: absolute;
			top: 10px;
			right: 10px;
			width: 30px;
			height: 30px;
			background-color: transparent;
			svg {
				width: 30px;
				height: 30px;
			}
		}
		&_label {
			&.row {
				opacity: 1;
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 0;
			}
			span {
				line-height: 50px;
			}
			img {
				pointer-events: none;
				width: 50px;
				height: 50px;
				border-radius: 50%;
			}
			p {
				margin: -5px 0px 0px 0px;
				opacity: 0.5;
				font-size: 16px;
			}
		}
	}
	&__posts {
		margin: -10px 0px -10px 0px;
		overflow-wrap: break-word;
		position: relative;
		&_input {
			&:not(:last-child) {
				margin: 0px 0px 10px 0px;
			}
			position: relative;
			&_field {
				border-radius: 4px;
				resize: none;
				display: inline-block;
				font-size: 16px;
				line-height: 26px;
				background-color: transparent;
				padding: 10px 50px 10px 10px;
				width: calc(100% - 50px);
				overflow: auto;
				height: 50px;
			}
			&_send {
				position: absolute;
				top: 5px;
				right: 0;
				font-size: 0;
				opacity: 0.3;
				border-radius: 4px;
				background-color: transparent;
				#addPostArrow {
					transform: rotate(90deg);
				}
				&:not(:disabled) {
					opacity: 1;
				}
				svg {
					width: 40px;
					height: 40px;
				}
			}
			&_images {
				cursor: pointer;
				position: absolute;
				right: 61px;
				top: 10px;
				background-color: transparent;
				width: 30px;
				height: 30px;
				opacity: 0.8;
				&:hover,
				&:focus {
					opacity: 1;
				}
				svg {
					width: 30px;
					height: 30px;
				}
			}
		}
		&_loading {
			margin: 30px 0px 0px 0px;
			height: 30px;
			svg {
				position: absolute;
				left: 50%;
				bottom: 15px;
				transform: translateX(-50%);
				width: 30px;
				height: 30px;
			}
		}
		&_no_posts {
			opacity: 0.7;
			line-height: 150%;
			text-align: center;
			font-size: 16px;
		}
	}
	&__post {
		position: relative;
		padding: 10px 0;
		&_content {
			&_text {
				line-height: 150%;
				font-size: 16px;
				a {
					color: var(--link-color) !important;
					&:hover,
					&:focus {
						text-decoration: underline;
					}
				}
			}
			&_images {
				&:not(:first-child) {
					margin: 10px -10px 0px;
				}
				margin: 0 -10px;
				display: grid;
				gap: 2px;
				.profile__post_content_image {
					position: relative;
					padding: 0px 0px 100% 0px;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						position: absolute;
						top: 0;
						left: 0;
					}
				}
				&.one {
					grid-template-columns: 1fr minmax(270px, 425px) 1fr;
					gap: 0;
					.profile__post_content_image {
						grid-column: 2/3;
					}
				}
				&.two {
					grid-template-columns: 1fr 1fr;
				}
				&.three {
					grid-template-columns: 1.3333fr 0.6777fr;
					.profile__post_content_image {
						&:first-child {
							grid-row: span 2;
						}
					}
				}
				&.four {
					grid-template-columns: 1fr 1fr;
				}
				&.five {
					grid-template-columns: repeat(6, 1fr);
					.profile__post_content_image {
						grid-column: span 2;
						&:nth-child(1),
						&:nth-child(2) {
							grid-column: span 3;
						}
					}
				}
				&.six {
					grid-template-columns: 1fr 1fr 1fr;
				}
				&.seven {
					grid-template-columns: repeat(10, 1fr);
					.profile__post_content_image {
						grid-column: span 2;
						&:nth-child(1),
						&:nth-child(2) {
							grid-column: span 5;
						}
					}
				}
				&.eight {
					grid-template-columns: repeat(6, 1fr);
					.profile__post_content_image {
						&:nth-child(1),
						&:nth-child(2) {
							grid-column: span 3;
						}
					}
				}
				&.nine {
					grid-template-columns: 1fr 1fr 1fr;
				}
				&.ten {
					grid-template-columns: repeat(8, 1fr);
					.profile__post_content_image {
						&:nth-child(1),
						&:nth-child(2) {
							grid-column: span 4;
						}
					}
				}
			}
		}
		&_more {
			background-color: transparent;
			padding: 2px 5px;
			font-size: 16px;
			border-radius: 4px;
		}
		&_info {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: 10px 0px 0px 0px;
			position: relative;
		}
		&_like {
			border-radius: 4px;
			padding: 5px 10px;
			background-color: transparent;
			font-size: 16px;
			svg {
				margin: 0px 5px -4px 0px;
				width: 18px;
				height: 18px;
			}
		}
		&_actions {
			position: absolute;
			left: calc(50% - 15px);
			bottom: 10px;
			&_show {
				opacity: 0.7;
				&:hover,
				&:focus {
					opacity: 1;
				}
				width: 30px;
				height: 30px;
				background-color: transparent;
				position: relative;
				z-index: 3;
				border-radius: 4px;
				span {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 5px;
					height: 5px;
					border-radius: 50%;
				}
				span:before,
				span:after {
					content: "";
					position: absolute;
					width: 5px;
					height: 5px;
					border-radius: 50%;
				}
				span:before {
					left: -10px;
				}
				span:after {
					right: -10px;
				}
			}
			&_delete {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 5px;
				z-index: 2;
				position: absolute;
				width: 150px;
				left: 50%;
				top: -35px;
				transform: translateX(-50%);
				font-size: 16px;
				line-height: 150%;
				border-radius: 4px;
				background-color: transparent;
				padding: 2px 10px;
				svg {
					width: 24px;
					height: 24px;
				}
				opacity: 0;
				visibility: hidden;
				&.active {
					opacity: 1;
					visibility: visible;
				}
			}
		}
		&_date {
			line-height: 150%;
			opacity: 0.7;
			font-size: 12px;
		}
	}
	@media (min-width: 767px) {
		&__loading {
			&_user {
				display: flex;
				align-items: center;
			}
			&_actions {
				gap: 15px;
				div {
					width: 175px;
				}
			}
			&_info {
				align-items: start;
			}
			&_image {
				margin: 0px 30px 0px 0px;
				width: 150px;
				height: 150px;
			}
			&_name {
				height: 36px;
				width: 220px;
				margin: 0;
			}
			&_location {
				height: 24px;
			}
			&_about {
				display: block;
				&_links {
					display: flex;
					justify-content: space-around;
					gap: 10px;
					p {
						display: block;
					}
				}
				&_users {
					margin: 15px -8px 0px;
					display: grid;
					grid-template-columns: repeat(8, 1fr);
				}
				&_user {
					&_image {
						width: calc(100% - 16px) !important;
						padding: 0px 0px calc(100% - 16px) 0px;
						border-radius: 50%;
						margin: 0 auto;
					}
					&_name {
						width: 40px;
						height: 14px;
						margin: 7px auto 3px;
					}
				}
			}
			&_post {
				height: 90px;
			}
		}
		// &__cover {
		// 	img {
		// 		border-top-right-radius: 8px;
		// 		border-top-left-radius: 8px;
		// 	}
		// 	margin: -15px -15px 0px;
		// }
		&__user {
			// margin: -75px 0px 0px 0px;
			// align-items: flex-end;
			flex-direction: row;
			gap: 30px;
			&_image {
				flex: 0 0 150px;
				img {
					width: 100%;
					height: 150px;
				}
			}
			&_info {
				justify-content: center;
				height: 75px;
				align-items: flex-start;
			}
			&_name {
				font-size: 24px;
			}
			&_location {
				font-size: 16px;
			}
		}
		&__actions {
			gap: 15px;
			& > a,
			& > button {
				width: 175px;
			}
		}
		&__about {
			display: block;
			&_link {
				&:nth-child(2),
				&:nth-child(3) {
					display: block;
				}
				&:hover,
				&:focus {
					text-decoration: underline;
				}
			}
			&_users {
				margin: 10px -8px -5px;
				display: grid;
				grid-template-columns: repeat(8, 1fr);
			}
			&_user {
				width: 100%;
				overflow: hidden;
				padding: 5px 8px;
				border-radius: 4px;
				&_image {
					&.online {
						img {
							padding: 2px;
							border: 2px solid rgba(0, 255, 0, 0.7) !important;
						}
					}
				}
				&_name {
					display: block;
					text-align: center;
					margin: 3px 0px 0px 0px;
					line-height: 150%;
					font-size: 14px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				&_online {
					display: block;
				}
			}
		}
		&__post {
			&_content {
				&_images {
					margin: 0;
					&:not(:first-child) {
						margin: 10px 0px 0px 0px;
					}
					.profile__post_content_image {
						img {
							border-radius: 4px;
						}
					}
				}
			}
			&_date {
				font-size: 14px;
			}
		}
	}
}
